<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="MessageQueue" type="EyouSoft.Config.MessageQueueConfigHandler, EyouSoft.Config"/>
  </configSections>
  <dataConfiguration>
    <providerMappings>
      <add databaseType="EntLibContrib.Data.MySql.MySqlDatabase, EntLibContrib.Data.MySql"
        name="MySql.Data.MySqlClient" />
    </providerMappings>
  </dataConfiguration>
  <connectionStrings>
    <add name="CompanyStore" connectionString="Data Source=192.168.1.254;Initial Catalog=ImportPlatform;Persist Security Info=True;User ID=sa;Password=enow"
		  providerName="System.Data.SqlClient" />
    <add name="LogStore" connectionString="Data Source=192.168.1.254;Initial Catalog=ImportPlatform;Persist Security Info=True;User ID=sa;Password=enow"
		  providerName="System.Data.SqlClient" />
    <add name="MQStore" connectionString="Data Source=192.168.1.254;Initial Catalog=ImportPlatform;Persist Security Info=True;User ID=sa;Password=enow"
		  providerName="System.Data.SqlClient" />
    <add name="MySQLStore" connectionString="Server=192.168.1.50;port=8806;user id=more;database=more;"
		  providerName="MySql.Data.MySqlClient" />
    <add name="SMSStore" connectionString="Data Source=192.168.1.254;Initial Catalog=ImportPlatform;Persist Security Info=True;User ID=sa;Password=enow"
		  providerName="System.Data.SqlClient" />
    <add name="SystemStore" connectionString="Data Source=192.168.1.254;Initial Catalog=ImportPlatform;Persist Security Info=True;User ID=sa;Password=enow"
		  providerName="System.Data.SqlClient" />
    <add name="TourStore" connectionString="Data Source=192.168.1.254;Initial Catalog=ImportPlatform;Persist Security Info=True;User ID=sa;Password=enow"
		  providerName="System.Data.SqlClient" />
    <add name="UserStore" connectionString="Data Source=192.168.1.254;Initial Catalog=ImportPlatform;Persist Security Info=True;User ID=sa;Password=enow"
		  providerName="System.Data.SqlClient" />
    <add name="DiscuzStore" connectionString="Data Source=192.168.1.254;Initial Catalog=DiscuzTest;Persist Security Info=True;User ID=sa;Password=enow"
		  providerName="System.Data.SqlClient" />
    <add name="TicketStore" connectionString="Data Source=192.168.1.254;Initial Catalog=FlightTicket;Persist Security Info=True;User ID=sa;Password=enow"
			  providerName="System.Data.SqlClient" />
    <add name="PoolStore" connectionString="Data Source=192.168.1.254;Initial Catalog=CustomerPool ;Persist Security Info=True;User ID=sa;Password=enow"
		  providerName="System.Data.SqlClient" />
    <add name="HotelStore" connectionString="Data Source=192.168.1.254;Initial Catalog=ImportPlatform;Persist Security Info=True;User ID=sa;Password=enow"
		  providerName="System.Data.SqlClient" />
  </connectionStrings>
  <cachingConfiguration defaultCacheManager="Cache Manager1">
    <cacheManagers>
      <add type="EyouSoft.Cache.Facade.MemCachedCachingManager, EyouSoft.Cache.Facade, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        name="Cache Manager1" />
      <add type="EyouSoft.Cache.Facade.DefaultCachingManager, EyouSoft.Cache.Facade, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        name="SSOCache" />
    </cacheManagers>
  </cachingConfiguration>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <appSettings>
    <!--上传目录-->
    <add key="UploadFolder" value="D:\" />
    <!--酒店缓存程序日志目录-->
    <add key="HotelRQTmpFilePath" value="D:\\tmpHotelCache\\" />
  </appSettings>
  <MessageQueue Server="192.168.1.254">
    <Queue name="tour"></Queue>    
  </MessageQueue>
</configuration>