<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EyouSoft.BackgroundServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EyouSoft.BackgroundServices.Properties.Settings>
            <setting name="EyouSoft_BackgroundServices_smsSoap_soap" serializeAs="String">
                <value>http://localhost:30009/smsapi.asmx</value>
            </setting>
            <setting name="EyouSoft_BackgroundServices_VoSmsServices_Service"
                serializeAs="String">
                <value>http://smc.myvo.cn/SMSWebService/Service.asmx</value>
            </setting>
        </EyouSoft.BackgroundServices.Properties.Settings>
    </applicationSettings>
</configuration>