<?xml version="1.0"?>
<MemCachedConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <ApplyMemCached>false</ApplyMemCached>  
    <ServerList>192.168.1.254:26001,192.168.1.254:26002</ServerList>
    <PoolName>EyouSoft_MemCache</PoolName>
    <IntConnections>128</IntConnections>
    <MinConnections>128</MinConnections>
    <MaxConnections>512</MaxConnections>
    <SocketConnectTimeout>1000</SocketConnectTimeout>
    <SocketTimeout>3000</SocketTimeout>
    <MaintenanceSleep>30</MaintenanceSleep>
    <FailOver>true</FailOver>
    <Nagle>true</Nagle>
    <LocalCacheTime>30</LocalCacheTime> 
</MemCachedConfigInfo>