/* CSS Document */
td { font-size:14px;} body { margin:0}
img { border:none}
.font14red { font-size:14px; font-weight:bold; color:#D91010; line-height:25px;}
.font14zs {font-size:14px; font-weight:bold; color:#682000; line-height:25px;}
a.font14zs {font-size:14px; font-weight:bold; color:#682000; line-height:35px;text-decoration:none}
a.font14zs:hover {font-size:14px; font-weight:bold; color:#ff0000; line-height:35px;text-decoration: underline}
.font12ls {color:5C9008}
a.font12ls,a.font12ls:visited {color:#5C9008; text-decoration:none; font-size:12px;}