<?xml version="1.0"?>
<EmailConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Smtp>mail.enowinfo.com</Smtp>
  <Port>25</Port>
  <Sysemail>noreply@tongye114.com</Sysemail>
  <Username>noreply@tongye114.com</Username>
  <Password>ty114adv</Password>
  <FromName>旅游同业114</FromName>
</EmailConfigInfo>