<?xml version="1.0"?>
<configuration>
  <configSections>

    <!--底层配置BEGIN-->
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="EyouSoft" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="unity"
                    type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
                 Microsoft.Practices.Unity.Configuration" />
    <!--底层配置END-->

    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>

    <!--SSO底层BEGIN-->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EyouSoft.SSOComponent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="EyouSoft.BackgroundServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!--SSO底层dEND-->


    <section name="Domain" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="JSManage" type="EyouSoft.Common.ConfigModel.JSManageTagHandler, EyouSoft.PresentationCommon"/>
    <section name="CssManage" type="EyouSoft.Common.ConfigModel.CssManageTagHandler, EyouSoft.PresentationCommon"/>
    <section name="ImageManage" type="EyouSoft.Common.ConfigModel.ImageManageTagHandler, EyouSoft.PresentationCommon"/>
    <section name="MQMessage" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>

    <!--    URL REWRITE    -->
    <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter" />
    <section name="Ticket" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>

    <!--系统整合section-->
    <section name="openRelationAppSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
  </configSections>

  <!--异常配置BEGIN-->
  <exceptionHandling>
    <exceptionPolicies>
      <add name="MyPolicy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                                postHandlingAction="NotifyRethrow" name="Exception">
            <exceptionHandlers>
              <add type="EyouSoft.Exception.Facade.ExceptionHandler, EyouSoft.Exception.Facade"
                                            name="Custom Handler" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <!--异常配置END-->

  <!--数据库配置BEGIN-->
  <dataConfiguration>
    <providerMappings>
      <add databaseType="EntLibContrib.Data.MySql.MySqlDatabase, EntLibContrib.Data.MySql"
              name="MySql.Data.MySqlClient" />
    </providerMappings>
  </dataConfiguration>
  <connectionStrings>

    <!--系统数据库-->
    <add name="SystemStore" connectionString="Data Source=192.168.1.254;Initial Catalog=ImportPlatform;Persist Security Info=True;User ID=sa;Password=enow"
              providerName="System.Data.SqlClient" />
    <!--团队数据库-->
    <add name="TourStore" connectionString="Data Source=192.168.1.254;Initial Catalog=ImportPlatform;Persist Security Info=True;User ID=sa;Password=enow"
              providerName="System.Data.SqlClient" />
    <!--公司数据库-->
    <add name="CompanyStore" connectionString="Data Source=192.168.1.254;Initial Catalog=ImportPlatform;Persist Security Info=True;User ID=sa;Password=enow"
              providerName="System.Data.SqlClient" />
    <!--短信数据库-->
    <add name="SMSStore" connectionString="Data Source=192.168.1.254;Initial Catalog=ImportPlatform;Persist Security Info=True;User ID=sa;Password=enow"
              providerName="System.Data.SqlClient" />
    <!--MQ数据库-->
    <add name="MQStore" connectionString="Data Source=192.168.1.254;Initial Catalog=ImportPlatform;Persist Security Info=True;User ID=sa;Password=enow"
              providerName="System.Data.SqlClient" />
    <!--用户相关数据库-->
    <add name="UserStore" connectionString="Data Source=192.168.1.254;Initial Catalog=ImportPlatform;Persist Security Info=True;User ID=sa;Password=enow"
              providerName="System.Data.SqlClient" />
    <!--日志相关数据库-->
    <add name="LogStore" connectionString="Data Source=192.168.1.254;Initial Catalog=ImportPlatform;Persist Security Info=True;User ID=sa;Password=enow"
              providerName="System.Data.SqlClient" />
    <!--MQ服务端数据库-->
    <add name="MySQLStore" connectionString="Server=192.168.1.88;port=8806;user id=more;database=more;" providerName="MySql.Data.MySqlClient"/>
    <!--社区数据库-->
    <add name="DiscuzStore" connectionString="Data Source=192.168.1.254;Initial Catalog=Discuz;Persist Security Info=True;User ID=sa;Password=enow"
            providerName="System.Data.SqlClient" />
    <!--机票数据库-->
    <add name="TicketStore" connectionString="Data Source=192.168.1.254;Initial Catalog=ImportPlatform;Persist Security Info=True;User ID=sa;Password=enow" providerName="System.Data.SqlClient" />
    <!--酒店数据库-->
    <add name="HotelStore" connectionString="Data Source=192.168.1.254;Initial Catalog=ImportPlatform;Persist Security Info=True;User ID=sa;Password=enow" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--数据库配置END-->

  <!--缓存配置BEGIN-->
  <cachingConfiguration defaultCacheManager="Cache Manager1">
    <cacheManagers>
      <add type="EyouSoft.Cache.Facade.MemCachedCachingManager, EyouSoft.Cache.Facade, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                    name="Cache Manager1" />
      <add type="EyouSoft.Cache.Facade.DefaultCachingManager, EyouSoft.Cache.Facade, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="SSOCache"/>
    </cacheManagers>
  </cachingConfiguration>
  <!--缓存配置END-->
  <!--SSO服务地址BEGIN-->
  <applicationSettings>
    <EyouSoft.SSOComponent.Properties.Settings>
      <setting name="EyouSoft_SSOComponent_SSORemote_SSOFlow" serializeAs="String">
        <value>http://localhost:30006/SSOFlow.asmx</value>
      </setting>
    </EyouSoft.SSOComponent.Properties.Settings>
    <EyouSoft.BackgroundServices.Properties.Settings>
      <setting name="EyouSoft_BackgroundServices_smsSoap_soap" serializeAs="String">
        <value>http://localhost:30009/SmsAPI.asmx</value>
      </setting>
    </EyouSoft.BackgroundServices.Properties.Settings>
  </applicationSettings>
  <!--SSO服务地址END-->

  <appSettings>
    <!--	编辑器路径配置	-->
    <add key="FckEditorPath" value="/FCKeditor/"/>
    <!--IM 机票-->
    <add key="TicketInterfaceUrl" value="http://www.huitrip.com/CRM/remote_login2.asp"/>
    <!--IM 机票 分润组接口URL-->
    <add key="TicketGroupInterfaceUrl" value="http://jipiao.tongye114.com/Login/ResponseXML_error.aspx"/>
    <!--IM 机票 修改分润组接口URL-->
    <add key="TicketModifyGroupUrl" value="http://jipiao.tongye114.com/Login/AlterClass_error.aspx"/>
    <!--IM 机票 修改用户密码-->
    <add key="TicketUpdatePwdUrl" value="http://jipiao.tongye114.com/Login/SetPwd_error.aspx"/>
    <!--IM 机票 用户默认分润组GUID-->
    <add key="TicketDefaultGroupGUID" value="a5d132b3-adbb-4546-98f4-fef5e73f4dca"/>

    <!--短信系统 发送短信用户名-->
    <add key="SMS_USERNAME" value="error_yinuo"/>
    <!--短信系统 发送短信密码-->
    <add key="SMS_PASSWORD" value="error_Enowinfo"/>
    <!--短信系统 单条短信费用 double类型 不能<=0-->
    <add key="SMS_COSTOFSINGLE" value="0.1"/>
    <!--短信系统 禁止的关键字-->
    <add key="SmsKeys" value="洪志,宏志,大法,falun,发伦,发沦,发仑,法纶,法囵,法抡,功友,法论,法.轮.功,自焚,玄`机,江八点,朱容基,十六大,政治风波,民猪,古怪歌,示威,台*湾,西藏,造反,达赖,东突,上访,屎,广闻,反革命,无能,共产党,正法,小泉,钓鱼岛,暴乱,弹药,六合彩,嫖娼,他妈的,淫秽,包赢,Soccer01.com,13423205670,蠢猪,王八蛋,九码,三码,妓女,强奸,小鸡鸡,鸡巴,傻B,操你娘,J巴,作爱,我X X你,伴游,时事参考,新华举报,人民真实报道,大纪元,传单,美国之音,E周刊,人民报,国研新闻邮件,新闻封锁,鸡毛信文汇,九、评,九评,猛料,突厥斯坦,东突厥斯坦,拉登,自由运动,天葬,CDMA,IP17908,9.635,灵动卡,银行联合管理局,商务领航,深圳红岭,17大,套现,报名,热线"/>
    <!--短信系统配置 多个通道使用|分割  说明:index通道序号(请勿随意修改)  name通道名称 user用户名 pw密码  price改通道的短信价格(单位:分/条) size短信字数限制,0为常规类型移动/联通70,小灵通45,1为210个字的长短信   -->
    <add key="SMS_SMSChannel" value="index:0,name:通用通道（6分）,user:tongye1,pw:000000,price:6,size:0|index:1,name:广告通道（5分）,user:tongye2,pw:000000,price:5,size:0" />
    <!--短信系统 匹配移动联通手机号码的正则表达式模式-->
    <add key="SMS_Mobile_Regex_Pattern" value="^(13[0-9]|15[0|1|2|3|5|6|7|8|9])\d{8}$" />
    <!--city需要消息提醒的城市id  endtime消息提醒的结束日期-->
    <add key="MsgTipConfig" value="city:362,48,19,292|endtime:2011-1-1" />

    <add key="MaxTourDays" value="100"/>


    <!-- 电子邮件配置begin-->
    <add key="IsEnableSSL" value="false" />
    <!-- 电子邮件配置end-->


    <!-- 链接之间用【,】分隔,当找不到城市信息的时候，不需要跳转到切换城市页面的URL  -->
    <add key="frontpage_nolinktocutcity_url" value="/RouteAgency/RouteManage/PrintPreview.aspx,/RouteAgency/RouteManage/RoutePrint.aspx,/RouteAgency/RouteManage/SetPrintContent.aspx"/>


    <!-- Alipay Interface Parameters Begin -->
    <!-- 合作身份者ID -->
    <add key="partner" value="2088401533225887" />
    <!-- 安全检验码 -->
    <add key="ali_key" value="gdzeib0pw2jaazy053ix78k5gepbiphi"/>
    <!-- 签约支付宝账号或卖家支付宝帐户 -->
    <add key="ali_seller_mailer"  value="pay2@tongye114.com"/>
    <!-- 字符编码格式 目前支持 gbk 或 utf-8 -->
    <add key="ali_input_charset" value="utf-8"/>
    <!-- 加密方式 不需修改 -->
    <add key="ali_sign_type" value="MD5"/>

    <add key="ali_DomainPath" value="http://211.155.226.148:5001"/>
    <!-- 支付宝交易手续费 -->
    <add key="ali_alipayFee" value="0.0015"/>
    <!-- Alipay Interface Parameters End -->

    <!-- 平台交易费 -->
    <add key="tongyeFee" value="0.5"/>

    <!-- Tenpay Interface Parameters Begin -->
    <!-- 平台商户ID -->
    <add key="bargainor_id" value="1207884201" />
    <!-- 安全检验码 -->
    <add key="ten_key" value="9103c4280a9bf977e5391ef707c346c7"/>
    <!-- 财付通 平台中间帐户 -->
    <add key="ten_seller_mailer"  value="pay@tongye114.com"/>
    <!-- 字符编码格式 utf-8,gb2312 -->
    <add key="ten_input_charset" value="utf-8"/>
    <!-- 加密方式 不需修改 -->
    <add key="ten_sign_type" value="MD5"/>
    <add key="ten_DomainPath" value="http://localhost:30003"/>
    <!-- 财付通 证书地址 -->
    <add key="pfxPath" value="~/App_Data/ten_pfx/1207884201_20101102100512.pfx.p12"/>
    <!--<add key="pfxPath" value="~/App_Data/ten_pfx/1900000107.pfx"/>-->
    <!-- 财付通 证书密码 -->
    <add key="pfxPwd" value="1207884201"/>

    <!-- 财付通交易手续费 -->
    <add key="tenpayfee" value="0.001"/>
    <!-- Tenpay Interface Parameters End -->

    <!-- 平台tongye114.com Google Maps API KEY begin-->
    <!-- <add key="GoogleMapsAPIKEY" value="ABQIAAAACz7WwLitu0smrIXczssV4BTHiHzDJz2-gdF4mVTcuAO3S9GO4hStOBIFGYFbuYnY8lFWXws9tRRV0Q" />-->
    <!-- 平台tongye114.com  Google Maps API KEY end-->

    <!-- 平台192.168.1.254 Google Maps API KEY begin-->
    <add key="GoogleMapsAPIKEY" value="ABQIAAAAAddzuGlRP0eRiypr-SyJhRTVlbaUlGBn8yhIAwv4xN3VuLXsGhR2qiBO8xpwQ7V1x1drJIWprBMQUA" />
    <!-- 平台192.168.1.254  Google Maps API KEY end-->

    <!--客服密码 配置的是MD5加密密码 -->
    <add key="CustomerServicePwd" value="b1256485ede3f6b00fd5a0aa78a169e3" />
    <!--同业114景区编号，用来前台判断该景区是否可以被认领 -->
    <add key="TongYe114SightId" value="ac76141c-7a71-4d5e-9f3b-4876c4f75ef4" />
  </appSettings>

  <Ticket>
    <!--机票远程接口-->
    <add key="TicketInterfaceUrl" value="http://www.huitrip.com/CRM/remote_login2.asp"/>

    <add key="CompanyCode" value="b2acompany"></add>
    <!--企业代码-->
    <add key="cpcode" value="105044"></add>

    <add key="sysPath" value="/order/default.asp"></add>
    <!--签名-->
    <add key="Sign" value="2ec1ce699c922a058baac5f8d925ba0f"></add>
    <!--查询页-->
    <add key="QueryURL" value="/sales/selectair_1.asp"></add>
  </Ticket>

  <!-- MQ消息配置begin -->
  <MQMessage>
    <!-- MQ消息中转页面地址（登录页） -->
    <add key="MQMessageTransitUrl" value="http://localhost:30007/Msg.aspx?g="/>
    <!-- 订单专线后台管理页面地址，在过程里面会在末尾加上订单的GUID -->
    <add key="MQBackCenterWholesalersOrderPurposeUrl" value="http://localhost:30003/UserOrder/MQEditOrder.aspx?OrderID="/>
    <!-- 组团专线后台管理页面地址，在过程里面会在末尾加上订单的GUID -->
    <add key="MQBackCenterRetailersOrderPurposeUrl" value="http://localhost:30003/UserOrder/MQEditOrder.aspx?OrderID="/>
    <!-- 供求信息回复查看页，在过程里面会在末尾加上供求的GUID -->
    <add key="MQExchangeComment" value="http://localhost:30004/SupplierInfo/ExchangeInfo.aspx?Id="/>
  </MQMessage>
  <!-- MQ消息配置end -->

  <!-- 应用程序域名信息BEGIN -->
  <Domain>
    <add key="SeniorOnlineShop" value="http://localhost:30000"/>
    <add key="SiteOperationsCenter" value="http://localhost:30002"/>
    <add key="UserBackCenter" value="http://localhost:30003"/>
    <add key="UserPublicCenter" value="http://localhost:30004"/>
    <add key="FileSystem" value="http://localhost:30005"/>
    <add key="PassportCenter" value="http://localhost:30006" />
    <add key="ServerComponents" value="http://localhost:30001" />
    <add key="IMFrame" value="http://localhost:30007" />
  </Domain>
  <!-- 应用程序域名信息END -->
  <!-- JavaScript文件管理BEGIN -->
  <JSManage defaultServerComponents="http://localhost:30001">
    <JSFile name="tipsy" version="1" relativepath="/js/jquery.tipsy.js"></JSFile>
    <JSFile name="dcommon" version="1" relativepath="/js/dcommon.js"></JSFile>
    <JSFile name="dhtmlhistory" version="1" relativepath="/js/dhtmlhistory.js"></JSFile>
    <JSFile name="jquery" version="1" relativepath="/js/jquery.js"></JSFile>
    <JSFile name="jquery1_4" version="1" relativepath="/js/jquery-1.4.4.js"></JSFile>
    <JSFile name="HotelJSData" version="1" relativepath="/js/Hotel/HotelJSData.js"></JSFile>
    <JSFile name="boxy" version="1" relativepath="/js/jquery.boxy.js"></JSFile>
    <JSFile name="validatorform" version="2" relativepath="/js/ValiDatorForm.js"></JSFile>
    <JSFile name="swfupload" version="1" relativepath="/js/swfupload/swfupload.js"></JSFile>
    <JSFile name="Load" version="1" relativepath="/js/Loading.js"></JSFile>

    <JSFile name="picrotation" version="1" relativepath="/js/Picrotation.js"></JSFile>
    <JSFile name="dropdowntabs" version="1" relativepath="/js/dropdowntabs.js"></JSFile>

    <JSFile name="MouseFollow" version="1" relativepath="/js/MouseFollow.js"></JSFile>
    <JSFile name="TourCalendar" version="1" relativepath="/js/TourCalendar.js"></JSFile>

    <JSFile name="common" version="1" relativepath="/js/common.js"></JSFile>
    <JSFile name="marquee" version="1" relativepath="/js/marquee.js"></JSFile>
    <JSFile name="floating" version="1" relativepath="/js/jquery.floating.js"></JSFile>
    <JSFile name="autocomplete" version="1" relativepath="/js/jquery.autocomplete.js"></JSFile>
    <JSFile name="groupdate" version="1" relativepath="/js/quick.groupdate.js"></JSFile>
    <JSFile name="CommonTour" version="1" relativepath="/js/CommonTourModule.js"></JSFile>
    <JSFile name="groupdate2" version="1" relativepath="/js/groupdate.js"></JSFile>
    <JSFile name="NotStartingTeamsDetail" version="1" relativepath="/js/NotStartingTeamsDetail.js"></JSFile>
    <JSFile name="select" version="1" relativepath="/js/jquery.stylish-select.min.js"></JSFile>
    <JSFile name="Smskeys" version="1" relativepath="/js/SMSCheck/Sms.keys.js"></JSFile>
    <JSFile name="googleMap_UC" version="1" relativepath="/js/googleMap_UC.js"></JSFile>
    <JSFile name="Print" version="1" relativepath="/js/print.js"></JSFile>

    <!-- 机票Js BEGIN -->
    <JSFile name="517ticketcore" version="1" relativepath="/js/517NATicketlib/ticket.core.js"></JSFile>
    <JSFile name="517ticketcore2" version="1" relativepath="/js/517NATicketlib/ticket2.js"></JSFile>
    <!-- 机票Js END -->
    <!-- T4 BEGIN-->
    <JSFile name="T4.m.dropdowntabs.js" version="1" relativepath="/T4/m/js/dropdowntabs.js"></JSFile>
    <!-- T4 END-->

    <!--客服服务开始-->
    <JSFile name="json2.js" version="1" relativepath="/js/json2.js"></JSFile>
    <JSFile name="dateformat" version="1" relativepath="/js/date.format.js"></JSFile>
    <JSFile name="COlServerCore" version="1" relativepath="/js/COlServerCore.js"></JSFile>
    <JSFile name="SOlServerCore" version="1" relativepath="/js/SOlServerCore.js"></JSFile>
    <!--客服服务结束-->

    <!--资讯 开始-->
    <JSFile name="InformationJsflash" version="1" relativepath="/js/News/flash.js"></JSFile>
    <!--资讯 结束-->
    <!--景区 开始-->
    <JSFile name="ext-all" version="1" relativepath="/js/ext-all.js"></JSFile>
    <JSFile name="ContentWindow" version="1" relativepath="/js/ContentWindow.js"></JSFile>
    <JSFile name="GetCityList" version="1" relativepath="/js/GetCityList.js"></JSFile>
    <!--景区 结束-->
  </JSManage>
  <!-- JavaScript文件管理END -->
  <!-- Css文件管理BEGIN -->
  <CssManage defaultServerComponents="http://localhost:30001">
    <CssFile name="tipsy" version="1" relativepath="/css/tipsy.css"></CssFile>
    <CssFile name="main" version="1" relativepath="/css/userbackcenter/main.css"></CssFile>
    <CssFile name="rightnew" version="1" relativepath="/css/userbackcenter/rightnew.css"></CssFile>
    <CssFile name="right" version="1" relativepath="/css/userbackcenter/right.css"></CssFile>
    <CssFile name="boxy" version="1" relativepath="/css/boxy.css"></CssFile>
    <CssFile name="swfupload" version="1" relativepath="/css/swfupload/default.css"></CssFile>
    <CssFile name="style_1" version="1" relativepath="/css/style_1.css"></CssFile>
    <CssFile name="style_2" version="1" relativepath="/css/style_2.css"></CssFile>
    <CssFile name="style_3" version="1" relativepath="/css/style_3.css"></CssFile>
    <CssFile name="bluetabs" version="1" relativepath="/css/seniorshop/bluetabs.css"></CssFile>
    <CssFile name="bodyframe" version="1" relativepath="/css/seniorshop/bodyframe.css"></CssFile>
    <CssFile name="ddcolortabs" version="1" relativepath="/css/seniorshop/ddcolortabs.css"></CssFile>
    <CssFile name="style1" version="1" relativepath="/css/seniorshop/style1.css"></CssFile>
    <CssFile name="style2" version="1" relativepath="/css/seniorshop/style2.css"></CssFile>
    <CssFile name="style3" version="1" relativepath="/css/seniorshop/style3.css"></CssFile>
    <CssFile name="backalertbody" version="1" relativepath="/css/seniorshop/backalertbody.css"></CssFile>
    <CssFile name="shopmain" version="1" relativepath="/css/shop/shopmain.css"></CssFile>
    <CssFile name="body" version="1" relativepath="/css/body.css"></CssFile>
    <CssFile name="gouwu" version="1" relativepath="/css/shop/gouwu.css"></CssFile>
    <CssFile name="TeamNotice" version="1" relativepath="/css/userbackcenter/TeamNotice.css"></CssFile>
    <CssFile name="autocomplete" version="1" relativepath="/js/517NATicketlib/jquery.autocomplete.css"></CssFile>
    <CssFile name="jipiaoadminstyle" version="1" relativepath="/css/AirTickets/jipiao_admin_style.css"></CssFile>
    <CssFile name="517autocomplete" version="1" relativepath="/js/517NATicketlib/jquery.autocomplete.css"></CssFile>
    <!-- T4 BEGIN-->
    <CssFile name="T4.m.shop.css" version="1" relativepath="/T4/m/css/shop.css"></CssFile>
    <CssFile name="T4.shop.css" version="1" relativepath="/T4/css/shop.css"></CssFile>
    <!-- T4 END-->
    <CssFile name="css" version="1" relativepath="/Css/css.css"></CssFile>
    <!--sightshop begin-->
    <CssFile name="sightshop.bluetabs" version="1" relativepath="/css/sightshop/bluetabs.css"></CssFile>
    <CssFile name="sightshop.bodyframe" version="1" relativepath="/css/sightshop/bodyframe.css"></CssFile>
    <CssFile name="sightshop.ddcolortabs" version="1" relativepath="/css/sightshop/ddcolortabs.css"></CssFile>
    <CssFile name="sightshop.ext-all" version="1" relativepath="/css/sightshop/ext-all.css"></CssFile>
    <CssFile name="sightshop.style" version="1" relativepath="/css/sightshop/style.css"></CssFile>
    <CssFile name="sightshop.style1" version="1" relativepath="/css/sightshop/style1.css"></CssFile>
    <CssFile name="sightshop.style2" version="1" relativepath="/css/sightshop/style2.css"></CssFile>
    <CssFile name="sightshop.style3" version="1" relativepath="/css/sightshop/style3.css"></CssFile>
    <!--sightshop end-->

    <!--news begin-->
    <CssFile name="InformationStyle" version="1" relativepath="/css/News/news.css"></CssFile>
    <!--news end-->
    <!--Scenice begin-->
    <CssFile name="mainnew" version="1" relativepath="/css/userbackcenter/mainnew.css"></CssFile>
    <CssFile name="ext-all" version="1" relativepath="/css/userbackcenter/ext-all.css"></CssFile>
    <!--Scenice end-->
    <!--<CssFile name="eshopmtemplate4" version="1" relativepath="/css/seniorshop/4/mcore.css"></CssFile>-->

    <!--景区普通网店 start-->
    <CssFile name="head2011" version="1" relativepath="/css/new2011/2011head.css"></CssFile>
    <CssFile name="index2011" version="1" relativepath="/css/new2011/2011indexstyle.css"></CssFile>
    <CssFile name="xinmian" version="1" relativepath="/css/shop/xinmian.css"></CssFile>
    <!--景区普通网店 end-->

  </CssManage>
  <!-- Css文件管理END -->
  <!-- Image文件管理BEGIN -->
  <ImageManage currentUsedIndex="1">
    <ImageServer index="1" url="http://localhost:30001"></ImageServer>
  </ImageManage>
  <!-- Image文件管理END -->

  <!-- 电子邮件发送设置 -->
  <system.net>
    <mailSettings>
      <!-- 当SMTP服务器需要启用SSL的时候，需将AppSettings>IsEnableSSL 设置为TRUE -->
      <smtp deliveryMethod="Network">
        <network host="mail.enowinfo.com" userName="noreply@tongye114.com" password="ty114adv"  />
      </smtp>
    </mailSettings>
  </system.net>


  <!--    URL REWRITE 开始    -->
  <RewriterConfig>
    <Rules>
      <!--分站-->
      <RewriterRule>
        <LookFor>~/tour_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/PrintPage/TeamInformationPrintPage.aspx?TourId=$1]]></SendTo>
      </RewriterRule>
    </Rules>
  </RewriterConfig>
  <!--    URL REWRITE 结束    -->

  <system.web>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages enableViewState="false" validateRequest="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add type="URLRewriter.ModuleRewriter, URLRewriter" name="ModuleRewriter" />
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <openRelationAppSettings>
    <!--是否启用数据同步操作 1：启用 0：禁用-->
    <add key="IsEnable" value="0" />
    <!--AppKey-->
    <add key="AppKey" value="{6AB908F8-E84E-4a82-95DA-9BCA7882A773}" />
    <!--中间处理程序资源URI-->
    <add key="MiddlewareURI" value="http://localhost:30009/middleware.ashx"/>
    <!--当前系统处理程序路径-->
    <add key="LocalSyncFilePath" value="/sync/synchandling.ashx"/>
  </openRelationAppSettings>
</configuration>
