.boxy-wrapper { position: absolute;}
.boxy-wrapper.fixed { position: fixed; }

  /* Modal */
  
  .boxy-modal-blackout { position: absolute;background-color: black;  left: 0; top: 0;}
  
  /* Border */

  .boxy-wrapper { empty-cells: show;}
	.boxy-wrapper .boxy-top-left,
	.boxy-wrapper .boxy-top-right,
	.boxy-wrapper .boxy-bottom-right,
	.boxy-wrapper .boxy-bottom-left { width: 10px; height: 10px; padding: 0 }
	
	:root .boxy-wrapper .boxy-top-left { background: url('/images/boxy/boxy-nw.png'); }
	:root .boxy-wrapper .boxy-top-right { background: url('/images/boxy/boxy-ne.png'); }
	:root .boxy-wrapper .boxy-bottom-right { background: url('/images/boxy/boxy-se.png'); }
	:root .boxy-wrapper .boxy-bottom-left { background: url('/images/boxy/boxy-sw.png'); }
	
	/* IE6-8 hacks for the border. IE7+8 should support this natively but fails in conjuction with modal blackout bg. */
	/* NB: these must be absolute paths or URLs to your images */
	.boxy-wrapper .boxy-top-left {
		#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy/boxy-nw.png');
		-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy/boxy-nw.png')";
	}
	.boxy-wrapper .boxy-top-right {
		#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy/boxy-ne.png');
		-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy/boxy-ne.png')";
	}
	.boxy-wrapper .boxy-bottom-right {
		#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy/boxy-se.png');
		-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy/boxy-se.png')";
	}
	.boxy-wrapper .boxy-bottom-left {
		#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy/boxy-sw.png');
		-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy/boxy-sw.png')";
	}
	
	.boxy-wrapper .boxy-top,
	.boxy-wrapper .boxy-bottom { height: 10px; background-color: #C9DDFB; opacity: 0.6; filter: alpha(opacity=60); padding: 0 }
	
	.boxy-wrapper .boxy-left,
	.boxy-wrapper .boxy-right { width: 10px; background-color: #C9DDFB; opacity: 0.6; filter: alpha(opacity=60); padding: 0 }
	
	/* Title bar */
	
	.boxy-wrapper .title-bar { background:#124FA1 url(/images/boxy/boxtitlebj.gif) repeat-x; height:14px; padding: 6px; position: relative; }
	  .boxy-wrapper .title-bar.dragging { cursor: move; }
	    .boxy-wrapper .title-bar h2 { font-size: 12px; color:  Black; line-height: 1; margin: 0; padding: 0;padding-top:1px; font-weight: bold; float:left; display:inline;}
	    .boxy-wrapper .title-bar .close { color: white; position: absolute; display:block; width:16px; height:16px; float:right; top: 6px; right: 6px; font-size: 90%; line-height: 1; text-indent:-9999px; background:url(/images/boxy/closebox.gif);}
		.boxy-wrapper .title-bar .close:hover { position: absolute; display:block; width:16px; height:16px; float:right; top: 6px; right: 6px; font-size: 90%; line-height: 1; text-indent:-9999px; background:url(/images/boxy/closebox2.gif);}
		
	/* Content Region */
	
	.boxy-inner { overflow: hidden; background-color: white; padding: 0 }
	.boxy-content { padding: 15px; }
	
	/* Question Boxes */

    .boxy-wrapper .question { width: 350px; min-height: 80px; }
    .boxy-wrapper .answers { text-align: right; }
