/* CSS Document code by 11447@sohu.com*/
@charset "gb2312";

h1,h2,h3,h4,h5 {margin: 0px;padding: 0px;}
h1{ font-size:16px;}


.maintop15{ margin-top:15px;}
.maintop10{ margin-top:10px;}
.clear { clear:both;}
.hei14{ color:#333; font-size:14px;}
.chengse {color:#FF6600;}.chengse14 {color:#FF6600; font-size:14px;}.hong{ color:#FF2200}
.huise{ color:#333;}.huise a{ color:#333;}
.danhui{color:#818181; line-height:26px;}
.lan12{ font-size:12px; color:#0057E8;}.lan14 a{ color:#0057E8;}
.lan14{ font-size:14px; color:#1E50A2;}.lan14 a{ color:#1E50A2;}
.lan12{ font-size:12px; color:#1E50A2;}.lan12 a{ color:#1E50A2;}
.wupings{ width:144px; height:92px; padding:2px; border:1px solid #DBDADA;}
.wupingx{width:150px; height:26px; color:#333; text-align:center;} .wupingx a{ color:#333;}
.goulefths,.goulefthx{ background:url(/images/UserPublicCenter/gouwuhang.gif) no-repeat;}
.goulefths{ background-position:0px 0px; height:28px; width:709px; padding:3px 0 0 20px; text-align:left;}
.goulefthx{ background-position:0px -31px; height:24px;width:719px; padding:5px;}

.gwright{ border:1px solid #EAEAEA; padding:1px;}
.gwrhang{ background:url(/images/UserPublicCenter/gwright.gif) repeat-x; height:24px; color:#C60A0A; font-size:14px; padding-left:10px; padding-top:3px; text-align:left;}
.gwrnei ul li{ padding-left:5px; line-height:24px; color:#333; text-align:left}.gwrnei ul li a{color:#333;}

.gouwucp{ margin:10px 5px 10px 5px; border-bottom:1px dashed #CCC; clear:both; text-align:left;}
.gwcptu{ width:92px; height:84px; padding:1px; border:1px solid #DBDADA; margin-top:10px; float:left; text-align:center;} .gwcptu a{ color:#0055AA;}
.gouwunei{ width:610px; margin-left:10px; margin-top:10px; float:left;}

/*FENYE*/
DIV.digg {	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; margin-top:10px; PADDING-TOP: 3px; TEXT-ALIGN: center
}
DIV.digg A {	BORDER: #54A11C 1px solid; PADDING-RIGHT: 5px;PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px;  COLOR: #54A11C; PADDING-TOP: 2px;TEXT-DECORATION: none
}
DIV.digg A:hover {	BORDER: #54A11C 1px solid; background:#54A11C; COLOR: #fff;}
DIV.digg A:active {	BORDER: #54A11C 1px solid;  COLOR: #000; }
DIV.digg SPAN.current {	BORDER: #54A11C 1px solid; PADDING-RIGHT: 5px;PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 2px; COLOR: #fff; PADDING-TOP: 2px; BACKGROUND-COLOR: #54A11C}
DIV.digg SPAN.disabled {	BORDER: #eee 1px solid; PADDING-RIGHT: 5px;  PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px;  COLOR: #ddd; PADDING-TOP: 2px;}/*end*/
/*jingdian*/
.jdrh{ background:url(/images/UserPublicCenter/ticket_images_02.gif) repeat-x; height:25px; border:1px solid #CCC; color:#BB0058; font-size:14px; padding-left:5px; padding-top:3px; text-align:left;}
.jdrk{ border:1px solid #ccc; padding:0px;}
.jdxu{ background:url(/images/UserPublicCenter/view_num.gif) no-repeat center; height:18px; width:16px; color:#FFF; float:left; margin:0 5px 0 5px; padding:2px 0px 0px 0px; text-align:center;}
.jdringht{ width:180px; float:left; margin-top:5px;}
.hui12{ color:#555;}.hui12 a{ color:#555;}
.jdrd{ font-size:14px; color:#074387;}.jdrd a{  color:#074387;}
.jdrbg{ background:url(/images/UserPublicCenter/jdrbg.gif) repeat-x; height:28px; padding-left:10px;}
.huihua{
	color:#333;
	text-decoration: line-through;
}
/*yingchang xianshi1*/
.show { clear:both; border-bottom:1px dashed #EEE; border-top:1px dashed #EEE; background:#F8F8F8; padding-top:3px; height:85px; cursor:pointer; text-align:left; }
.listdetail .show { background:none;}
.show ul li { float:left; margin:0px; padding:0px;}
.show .lineli { display:block;}
.show .imgli { display:block; width:80px; height:70px;}
.show img {width:80px; height:70px; margin:0 2px 5px 2px;}
.show .lixu { background:url(/images/UserPublicCenter/view_num.gif) no-repeat center; height:18px; width:16px; color:#FFF; float:left; margin:0 3px 0 3px; padding:2px 0px 0px 0px; text-align:center;}
.show .lidz a{ color:#666;}
.show .limc { color:#0051D8;}

.show .jdnei { width:115px;color:#666;}



.hidden { clear:both; border-bottom:1px dashed #EEE; border-top:1px dashed #EEE; background:#F8F8F8; padding-top:3px; height:26px; cursor:pointer; text-align:left;}
.listdetail .hidden { background:none;}
.hidden ul li { float:left; margin:0px; padding:0px;}
.hidden .lineli { display:block;}
.hidden .imgli { display:block; width:80px; height:70px;display:none;}
.hidden img {width:80px; height:70px; margin:0 2px 5px 2px;display:none;}
.hidden .lixu { background:url(/images/UserPublicCenter/view_num.gif) no-repeat center; height:18px; width:16px; color:#FFF; float:left; margin:0 3px 0 3px; padding:2px 0px 0px 0px; text-align:center;}
.hidden .lidz a{ color:#666;}
.hidden .limc { color:#0051D8;}

.hidden .jdnei { width:115px;color:#666;display:none;}
/*end*/
/*yingchang xianshi2*/
.show1 { clear:both; padding-top:3px; height:85px; cursor:pointer; text-align:left;}
.listdetail .show1 { background:none;}
.show1 .left { float:left; width:80px;}
.show1 .right{ float:left;} 
.show1 .mingc{ float:left; width:100px; color:#333;}
.show1 .jiage{ float:left; width:100px; color:#333;}

.hidden1 { clear:both; padding-top:3px;  cursor:pointer; background:url(/images/UserPublicCenter/jdrbg.gif) repeat-x; height:28px; text-align:left;}
.listdetail .hidden1 { background:none;}
.hidden1 .left { float:left; width:80px;display:none;}
.hidden1 .right{ float:left;} 
.hidden1 .mingc{ float:left; width:100px; color:#333;}
.hidden1 .jiage{ float:left; width:100px; color:#333;display:none;}


/*end*/
/*jiudian*/
.jiucha{ background:url(/images/UserPublicCenter/jiudianhang.gif) repeat-x; border:1px solid #DADCDC; font-size:14px; color:#454545; padding-left:10px; height:28px; text-align:left;}
.jiuchak{ border:1px solid #DADCDC; border-top:0px; background:url(/images/UserPublicCenter/jiudiandi.gif) no-repeat right top; padding:15px;}
.jiudianshu{ border:1px solid #ABADB4; border-right:0px; height:21px;}
.shijianbiao{_margin-bottom:-9.5px!important; margin-bottom:-4px;}
.jiuchaxbg{ border:1px solid #DADCDC; border-top:0px; background:url(/images/UserPublicCenter/jiuchaxbg.gif) repeat-x; height:22px; padding-top:3px;  color:#454545; text-align:center;}
/*end*/
/*jipiao*/
.jichak{ border:1px solid #DADCDC; border-top:0px; background:url(/images/UserPublicCenter/jipiaotu.gif) no-repeat right bottom; padding:15px; height:192px;}
.jipiaonei{ border:1px solid #ccc; border-top:0px; padding:3px;}
.jipiaonei ul li{ line-height:22px; color:#333;}.jipiaonei ul li a{color:#333;}
.jipiaoxx ul li{ line-height:24px; color:#333; background:url(/images/UserPublicCenter/jipiaodian.gif) no-repeat left center; padding-left:15px;}.jipiaoxx ul li a{color:#333;}
.jipiaokk{ border:1px solid #DADCDC; border-top:0px; padding:10px;}

/*end*/

.barxl { background:url(/images/UserPublicCenter/barxl.gif) repeat-x; height:23px;}
.xlnei { border:1px solid #9DBF77; padding:5px;}
.xlnei a { color:#333;}
.xlnei ul li{ padding-left:5px; line-height:24px; color:#333; text-align:left}.gwrnei ul li a{color:#333;}

/*xianluzxlist*/
.zxlisth{ background:url(/images/UserPublicCenter/zxlisthang.gif) repeat-x; height:29px; color:#6F6F6F; font-size:14px; padding-left:20px; text-align:left;}
.zxlistk{ border:1px solid #ECCB5C; padding:2px; text-align:left;}
.pingpaibg{ height:73px; width:129px; padding:2px; border:1px solid #ccc;}
.pingpaibgon{ height:73px; width:129px; padding:2px; border:1px solid #FF6600;}
.ppdian{width:129px; height:6px; background:url(/images/UserPublicCenter/xiadian.gif) no-repeat center top; }
.ppdian1{width:30px; height:6px; background:url(/images/UserPublicCenter/xiadian1.gif) no-repeat center top; }
.shenglv{ color:#056631;}.shenglv a{ color:#056631;}
.goumai0,a.goumai0:hover{ background:url(/images/UserPublicCenter/goumai1.gif);}


.goumai0{ background-position:0px 0px; height:15px; width:65px; color:#984000; font-weight:bold; float:left; padding-top:4px; text-align:center; margin-bottom:3px;}
a.goumai0:hover{ background-position:0px -19px; color:#FF0000; text-decoration:none; text-align:center;} 
.xianluqb{height:80px; width:25px; background:#F8E29C; border:1px solid #ECCB5C; layout-flow:vertical-ideographic; font-size:16px; color:#FFFFFF; text-align:center; padding-right:5px;}
.xianluqb a{color:#333;}.xianluqb a:hover{color:#000; text-decoration:none;}
.xianluqb a:active{color:#000; text-decoration:none;}
/*end*/
/* xianluxx*/
.xlkuang{border:1px solid #9DBF77; border-bottom:0px; height:169px;}
.xianluhangcloer{ background:#C8E9A7 url(/images/UserPublicCenter/xianlubt.gif) repeat-x;  padding:10px 0 0 10px; text-align:center; width:723px;}

.xianluhangleft{ width:550px; float:left; text-align:center; font-size:14px;}
.xianluhangright{ width:170px; float:right; margin:0px; padding-right:3px;}
.trl_d_h {height:21px; padding:5px; font-weight:bold; background:#C8E9A7; border-bottom:1px solid #9DBF77; border-top:1px solid #fff; text-align:right;}
.trl_d_m {height:21px; padding:5px; border-bottom:1px solid #9DBF77; border-top:1px solid #fff; }
.bar-line{ background:url(/images/UserPublicCenter/xianlubt.gif) repeat-x; padding:5px; font-size:14px; margin-top:10px;}

.trl_d_anpai { background:#DDF3BD url(/images/UserPublicCenter/line3.gif) repeat-x bottom; height:17px; padding:5px; color:#0B8E08; clear:both }


.trl_d_anpaiday { margin-left:20px; width:100px; height:20px; float:left; padding-top:10px; font-weight:bold;}
.trl_d_detail { clear:both; padding-left:0px; padding-bottom:5px; line-height:18px;}
.trl_d_detail1{ clear:both;}
.trl_xcleft{ width:725px; line-height:18px; float:left; border-bottom:1px dashed #ccc;}
.trl_xcright{ width:160px; float:right;}

.xianluleft10{ margin:auto; padding:0}
.newsdetail2 { width:735px; margin-top:3px; text-align:left;} 

    .state1, .state2, .state3, .state4, .state5, .state6, .state7
        {
            display: inherit;
            height: 13px;
            line-height: 13px;
            text-align: center;
            padding: 3px 2px 0px 2px;
            margin-left: 5px;
            margin-right: 3px;
            margin-top: 1px;
            padding-left: 10px;
        }
        .state1{ border:1px solid #f00;  background:url(/images/state1.gif) no-repeat 5px 2px; color:#f00;}
		.state2{ border:1px solid #E48B00; background:url(/images/state2.gif) no-repeat 5px 2px; color:#E48B00;}
		.state3{ border:1px solid #0296DB;  background:url(/images/state3.gif) no-repeat 5px 2px; color:#0296DB;}
		.state4{ border:1px solid #A4188A; background:url(/images/state4.gif) no-repeat 5px 2px; color:#A4188A;}
		.state5{ border:1px solid #1A9C5A;  background:url(/images/state5.gif) no-repeat 5px 2px; color:#1A9C5A;}
		.state6{ border:1px solid #9AAA0E;  background:url(/images/state6.gif) no-repeat 5px 2px; color:#9AAA0E;}
		.state7{ border:1px solid #F507c1;  background:url(/images/state7.gif) no-repeat 5px 2px; color:#F507c1;}

/*end*/
/*xianluchaxun*/
.xuanluchaxun{ background:url(/images/UserPublicCenter/banner2.gif) repeat-x; border:1px solid #B1C645; padding:1px; width:706px; height:51px;}
.xlchaleft{ background:url(/images/UserPublicCenter/chaxunbiao.gif); height:29px; width:30px; float:left;}
.xlcharight{height:27px; padding-top:2px; float:left; width:676px;}
.xianluon{ background:url(/images/UserPublicCenter/xianlihangon.gif) no-repeat; width:100px; height:23px; text-align:center; color:#FFFFFF; font-size:14px; float:left; padding-top:4px;}
.xianluon a{color:#FFFFFF;}.xianluon a:hover{color:#FFFFFF;}.xianluon a:active{color:#FFFFFF;}
.dianright{ background:url(/images/UserPublicCenter/dianright.gif) no-repeat right center;
 padding:2px 10px 0px 3px; border:1px solid #ccc; float:right; margin-right:10px;}
a.dianright:hover{ border:1px solid #FF6600; color:#0063DC;}
.dianlefth{ background:url(/images/UserPublicCenter/dianlefth.gif) no-repeat left center; padding:2px 3px 0px 10px; border:1px solid #ccc; float:right; margin-right:10px;}
.xianluhangcx{ background:url(/images/UserPublicCenter/xianluhangcbg.gif) repeat-x;}
.shenglue{width:150px;

white-space:nowrap;

word-break:keep-all;

overflow:hidden;

text-overflow:ellipsis;}.shenglue a{ width:150px;}
.dijieshe{background:url(/images/UserPublicCenter/dijieshe.gif) repeat-x top; font-size:14px; color:#FF6600; padding-left:10px; padding-top:5px;}
.dijieshecheng{ width:735px;}
.dijieshecheng ul li{ padding:5px; margin:5px 0px 5px 5px ; float:left;}.dijieshecheng ul li a{  padding:5px;}.dijieshecheng ul li a:hover{ background:#FF6600; color:#fff; padding:5px;}
a.dijieshechengon{background:#FF6600; color:#fff; padding:5px;}


/*end*/
#mainsubnav{line-height:22px;	display:none;	position:absolute;	width:730px; height:100%  z-index:1;	border:1px #5794C3 solid; background:#F6FCFF; left:-20px; top:20px; cursor:pointer; text-align:center;}
a.qie { background:url(/images/UserPublicCenter/qie.gif); width:76px; height:20px; display:block; float:left; font-size:14px; color:#D84200; text-align:center;}

   #tt
        {
            position: absolute;
            display: block;
            background: url(/images/UserPublicCenter/tt_left.gif) top left no-repeat;
        }
        #tttop
        {
            display: block;
            height: 5px;
            margin-left: 5px;
            background: url(/images/UserPublicCenter/tt_top.gif) top right no-repeat;
            overflow: hidden;
        }
        #ttcont
        {
            display: block;
            padding: 2px 12px 3px 7px;
            margin-left: 5px;
            background: #429A3B;
            color: #FFF;
        }
        #ttbot
        {
            display: block;
            height: 5px;
            margin-left: 5px;
            background: url(/images/UserPublicCenter/tt_bottom.gif) top right no-repeat;
            overflow: hidden;
        }
    
        .keman
        {
            border: 1px solid #c00;
            background: #FFD188;
            color: #6F380D;
            font-size: 12px;
            height: 13px;
            padding: 3px 5px 0px 5px;
        }
        .tings
        {
            border: 1px solid #9D9EA0;
            background: #DADADA;
            color: #5D5D5D;
            font-size: 12px;
            font-size: 12px;
            height: 13px;
            padding: 3px 5px 0px 5px;
        }
.errmsg{color:Red;}







/*  2011-11-17   jingqu start   */
/*jingqu  Update*/
.lidetail1_3 .lixu{ background:url(/images/UserPublicCenter/zhuzhong_07.jpg) no-repeat center; height:19px; width:18px; color:#FFF; float:left; margin:0 3px 0 3px; padding:2px 0px 0px 0px; text-align:center; font-weight:bold;}
.lidetail1_1 .lixu { background:url(/images/UserPublicCenter/zhuzhong_10.jpg) no-repeat center; height:19px; width:18px; color:#FFF; float:left; margin:0 3px 0 3px; padding:2px 0px 0px 0px; text-align:center; font-weight:bold;}
.lidetail1_3{width:115px;}
.jdrh_xin{ background:url(/images/UserPublicCenter/jq4_15.jpg) repeat-x left bottom;border:1px solid #c6d8e0; color:#BB0058;height:30px; text-align:left;}
.zuixin{ background:url(/images/UserPublicCenter/news-list_10.gif) no-repeat 5px top; padding-left:25px;height:30px; line-height:30px; font-weight:bold; color:#3a3a3a; font-size:14px;}
.jdrk_gai{ border:1px solid #c6d8e0; padding:0px; background:url(/images/UserPublicCenter/jq4_15.jpg) repeat-x left bottom; width:217px; overflow:hidden;}
.right_xin{float:left;}

.show2 .right_xin .mingc,.show .lidetail1_3,.show .lidetail1_1{ float:left;width:129px;padding:0px;} 
.hidden2 .right_xin .mingc,.hidden .lidetail1_3,.hidden .lidetail1_1{ float:left;width:214px;padding-left:3px;float:left;}

.show2 .right_xin .mingc{ color:#074387; float:left;width:109px;padding:0px;}
.hidden2 .right_xin .mingc{ color:#074387;}

.show1 .right_xin{ float:left;width:107px;padding-left:10px;} 
.hidden1 .right_xin{ float:left;width:204px;padding-left:10px;} 


.gwrhang_xin{ background:url(/images/UserPublicCenter/jq4_15.jpg) repeat-x left bottom;border-bottom:1px solid #c6d8e0; height:30px; color:#3a3a3a; font-size:14px; text-align:left; line-height:30px;padding-left:10px; font-weight:bold;}
.gwright_xin{ border:1px solid #c6d8e0; background:url(/images/UserPublicCenter/jq4_21.jpg) repeat-x left bottom;}

.goulefthx_xin{ width:729px; padding:5px; border:1px solid #c6d8e0;float:left; background:url(/images/UserPublicCenter/jq4_15.jpg) repeat-x left bottom; overflow:hidden;}



.xuanze{ border:1px solid #dedede;width:731px;float:left;}
.xuanzexian ul{padding:10px;width:711px;float:left;}
.xuanzexian li{padding:2px 0;float:left;}
.xianlu_zt{float:left;width:40px; font-size:12px; color:#555555; line-height:22px;}
.xianlink{width:670px;float:left;}
.xianlink a.xuanzhong{ font-weight:bold; color:#fb0101;float:left; display:inline; white-space:nowrap;}
.xianlink a{margin-right:15px;color:#555;float:left; display:inline; white-space:nowrap;}
.xianlink a:hover{display:block; margin-right:15px;color:#ff7b19;float:left;white-space:nowrap;}


.gouwucp_xin{ padding:10px 5px 10px 5px; border-bottom:1px dashed #CCC; clear:both; text-align:left;float:left;width:730px;}
.gwcptu_xin{ width:92px; height:84px; padding:1px; border:1px solid #DBDADA; margin-top:10px; float:left; text-align:center;} .gwcptu a{ color:#0055AA;float:left;}
.gouwunei_xin{ width:600px; margin-left:10px; margin-top:10px; float:left;}
.hover{background-color:#f1edf4;}


.santu{width:740px;float:left; text-align:center; padding:10px 0;}
.santu li{width:173px;height:150px;float:left; line-height:26px; text-align:center;padding:0 6px;}
.santu li img{ border:1px solid #CCC; padding:1px;}


.gwright2{ border:1px solid #c6d8e0; overflow:hidden;}
.gwrhang2{ background:url(/images/UserPublicCenter/jq4_15.jpg) repeat-x left bottom; height:30px; color:#3a3a3a; font-size:14px; text-align:left;}
.retubiao2{ background:url(/images/UserPublicCenter/jq4_03.jpg) no-repeat left top; padding-left:40px; font-weight:bold;height:30px; border-bottom:1px solid #c6d8e0; line-height:30px;}
.gwright2{ border:1px solid #c6d8e0; padding:1px;}

.show2 { clear:both; padding-top:3px; height:85px; cursor:pointer; text-align:left;float:left;width:217px;}
.listdetail .show1 { background:none;}
.show2 .left { float:left; width:100px;}
.show2 .right{ float:left;} 
.show2 .mingc{ float:left; width:100px; color:#333;}
.show2 .jiage{ float:left; width:100px; color:#333;}

.hidden2 { clear:both; padding-top:3px;  cursor:pointer; background:url(/images/UserPublicCenter/jdrbg.gif) repeat-x; height:28px; text-align:left;}
.listdetail .hidden1 { background:none;}
.hidden2 .left { float:left; width:80px;display:none;}
.hidden2 .right{ float:left;} 
.hidden2 .mingc{ float:left; width:100px; color:#333;}
.hidden2 .jiage{ float:left; width:100px; color:#333;display:none;}

.show2 .right_xin .jiage2{ float:left; width:100px; color:#333;}
.hidden2 .right_xin .jiage2{ float:left; width:100px; color:#333;display:none;}

.show2 .right_xin{width:100px;float:left;}
.hidden2 .right_xin{width:200px;float:left;}

/*****************ScenicSpotIntro.html jingqu  info****************/	

.contentbox{ border:1px solid #c6d8e0;float:left;padding:10px; background:url(/images/UserPublicCenter/bbbbbgg_03.jpg) repeat-x left top;}
.a3a3a{ color:#3a3a3a;float:left;}.fff0f{color:#f05119;float:left;}.zhutifl{float:left;padding-right:10px;}

	 .lianxi_wenzi{width:683px;float:left;padding-bottom:15px;}
		 .lianxi_biao{width:709px;float:left;padding-bottom:15px; overflow:hidden; margin-top:20px; }
		 .lianxi_biao ul li{width:235px; border:1px solid #CCC;height:26px; text-align:center; margin-left:-1px; margin-top:-1px;float:left; line-height:26px;}
		 .lianxi_di1{ font-weight:bold;  background:url(/images/GeneralShop/putong_16.jpg) repeat-x top left; border-top:1px solid #CCC; border-left:1px solid #CCC; width:709px;}
		 .lianxi_biao .lianxi_di1 li{height:26px;color:#333; overflow:hidden; background:url(/images/UserPublicCenter/xianxi_63.jpg) repeat-x; line-height:26px;}
		 .lianxi_di2{ width:709px;border-left:1px solid #CCC;}
.clearfix{display:inline-block;}
.faq{width:710px;float:left;}
.faq-title{ width:710px;float:left; border-bottom:3px solid #fd6b38;}
.faq-title ul{float:left;}
.faq-title li{ float:left; font-size:14px;  color:#0F0F0F; background:url(/images/UserPublicCenter/xianxi_93.jpg) no-repeat left top;width:83px;height:25px; margin-right:3px; overflow:hidden; line-height:25px; text-align:center}
.faq-title li a{ font-size:14px; color:#1266c4; cursor:pointer;width:83px;height:25px;float:left; }
.faq-title li .hover,.faq-title li a:hover{ color:#FFf; text-decoration:none; background:url(/images/UserPublicCenter/xianxi_91.jpg) no-repeat left bottom;width:83px;height:25px;float:left; font-weight:bold;}
.faq-main{ margin:10px 0;float:left;width:710px; text-align:left; line-height:23px;}
.faq-main dl{ border-bottom:1px dashed #D6D6D6;}
.faq-main dl dt{ padding:5px 0; /*cursor:pointer;*/}
.faq-main dl dd{ padding:5px 0; color:#FF001F; padding-left:15px;}

#con_faq_4 a,#con_faq_2 a,#con_faq_1 a{ color:#1266c4;}
#con_faq_4 a:hover,#con_faq_2 a:hover,#con_faq_1 a:hover{ color:#fd6b38;}
.ditu{ width:708px;height:415px; border:1px solid #CCC; margin-bottom:10px;}
#con_faq_1{ text-align:left;}


/*IMG*/
.ScenicSpotPic{ padding:10px 0 10px 15px;}
.ScenicSpotPic li{float:left; width:220px; text-align:center; line-height:40px; background:url(/images/sightshop/photodaoy.gif) no-repeat 17px 142px;}
.ScenicSpotPic li img{border:1px #c6d8e0 solid;}


.guild_mid{
  padding:1px;
  width:213px;
  height:120px;
  padding-bottom:10px;
  border-top:1px dotted #CCC;
}
.guild_mid li{
  width:90px;
  height:20px;
  float:left;
  font-size:12px;
  color:#000;
  padding:4px 5px;
  }
.guild_mid li img{
 width:18px;
 height:18px;
 text-align:left;
 vertical-align:middle;
 padding:3px;
 }
.xuanzexian li .xianlink a.dianjihou{ color:#F00;}
.xuanzexian li .xianlink a:hover.dianjihou{ color:#F00;}
.hidden1 .mingc1{ float:left; width:100px; color:#333; }

.gwcptu_xin
{
	width: 112px;
	height: 84px;
	padding: 1px;
	border: 1px solid #DBDADA;
	margin-top: 10px;
	float: left;
	text-align: center;
}
.gwcptu_xin a
{
	color: #0055AA;
}

/* 2011-11-17   jingqu  end */

/* 2011-12-1  jingqu  end */
.dlhck{background: url(/images/xianxi_91.jpg) no-repeat left top; line-height:30px;padding-left:5px; border-bottom:2px solid #fd6b38;height:25px; overflow:hidden; margin-top:30px; color:#FFF; color:#FFF; font-weight:bold; font-size:14px;float:left;}
.lianxiren{border:1px solid #fd6b38;float:left;width:708px;}
.denglukan{ background:#f8f8f8;height:25px;padding-left:5px; border-bottom:1px dotted #a8a8a8; line-height:25px;}
.dlkanxx{}
.biaotilele .XINGMING,.biaotilele .TEL,.biaotilele .SHOUJI,.biaotilele .CHUANZHEN,.biaotilele .MQ,.biaotilele .QQ{background: url(/images/luan_03.jpg) repeat-x right bottom;float:left;width:108px;font-size:14px;padding:0 5px;padding-top:5px;height:25px; border-bottom:1px solid #ccc;}

.neironglele li{background: url(/images/hhehhhh_03.jpg) repeat-y right top; height:100%;padding:0 5px;padding-top:5px;float:left;font-size:14px;width:108px;height:auto; border-bottom:1px solid #eee;height:70px;}
/* 2011-12-1   jingqu  end */  


.fjjd{width:733px; border:1px solid #c6d8e0; background:#eee; margin-top:10px;float:left;}
.fjjd li{float:left;padding:2px 5px;height:20px;}
.xiaodaohang{width:735px;float:left;text-align:left; margin-bottom:5px;}
.dangqian{ color:#ec7500; font-weight:bold; font-size:12px;}

.xiaodaohang2{width:970px; margin:10px auto 0px auto;text-align:left;height:20px; line-height:20px; border-bottom:1px solid #eee;}
.zuouhou{ color:#F60;}

/*------*/
.yudingbox{width:970px; margin:auto;padding-top:10px; clear:both; height:auto; overflow:hidden;}
.yudingright{width:728px;float:left;padding-left:17px; overflow:hidden;}
.yudingleft{width:225px;float:left; overflow:hidden}
.tujianxl{width:223px;float:left; border:1px solid #ffbd8d; background:url(/images/xianllb_08.jpg) repeat-x left top;margin-bottom:10px; }
.tujianxl  li{width:105px;float:left; line-height:25px; text-align:left;padding-left:5px; overflow:hidden;}
.tujianxl_img{ border:1px solid #CCC;float:left;}
.tujianxl ul{padding-top:5px;float:left;}
.tujianxl2 ul{padding-top:5px;float:left;}
.tujianxl ul .haitian{width:110px; text-align:center;float:left;}
.tujiantitle{width:185px;height:30px; text-align:left; line-height:35px; padding-left:28px; font-weight:bold; background:url(/images/xianllb_14.jpg) no-repeat 5px 5px; color:#000;font-size:14px;}
.tujianxl2{width:223px;float:left; border:1px solid #ffbd8d;background:url(/images/xianllb_08.jpg) repeat-x left top;margin-bottom:10px;}
.tujiantitle2{width:198px;height:30px; text-align:left; line-height:30px; padding-left:15px; font-weight:bold; background:url(/images/xianllb_62.jpg) no-repeat 5px center; color:#000;font-size:14px;}
.tujianxl2 li{width:213px;float:left;height:25px; line-height:25px; text-align:left;padding-left:10px;}
.tujianxl li a{ color:#333}
.tujianxl3li li a{ color:#333}
.tujianxl2 li a{ color:#333}

.tujianxl3{width:209px;float:left; background:#ffe1c6;padding:8px; position:relative;}
.tujianbg{ position:absolute;top:0px;right:0px; z-index:0;}
.tujianxl3li{width:209px; background:#FFFFFF;float:left;}
.tujianxl3li ul{ position:relative; z-index:1; float:left;}
.tujiantitle3{width:198px;height:30px; text-align:left; line-height:30px; padding-left:15px; font-weight:bold; background:url(/images/yuding_06.jpg) no-repeat 5px center; color:#fd7c17;font-size:14px;}
.tujianxl3  li{float:left;height:25px; line-height:25px; text-align:left;padding-left:10px;width:198px;}
.tujianxl4{background: url(/images/yuding_31.jpg) repeat-x scroll left top transparent;
    border: 1px solid #D0D0D0;float: left;margin-bottom: 10px;padding-top: 5px;width: 223px;}
.tujiantitle4 {
    background: url(/images/yuding_06.jpg) no-repeat scroll 5px center transparent;
    color: #579109; font-size: 14px;font-weight: bold;height: 30px;line-height: 30px; padding-left: 15px;
    text-align: left;width: 198px;
}
.tujianxl4 li {float: left;height: 25px; line-height: 25px;padding-left: 10px;text-align: left;width: 90px;
}
.tujianxl_sou {border: 1px solid #FFD8BB;float: left;margin-bottom: 10px;padding: 5px;text-align: left;width: 213px;
}
.tujianxl_sou { text-align: left;
}
.tujianxl_sou li {
    float: left;
    padding: 2px 0;
}
.tujianxl_sou li.diann {
    padding-left: 60px;
}
.xiaodaohang {
    border-bottom: 1px dotted #EEEEEE;
    float: left;
    height: 25px;
    line-height: 25px;
    margin-bottom: 10px;
    text-align: left;
    width: 725px;
}
.STYLE1 {color: #FF6C00; font-size: 14px;font-weight: bold;}
.STYLE2 { color: #595959; font-size: 14px;font-weight: bold;}
.STYLE3 {color: #FF009C;font-weight: bold;}
.STYLE4 {color: #FF0000; font-weight: bold;}
.STYLE5 {color: #72A60B; font-weight: bold;}
.jieshaotop{width:728px;float:left; color:#004d73; font-size:14px;  text-align:left; font-weight:bold; line-height:30px;}
.jieshaoimg{width:295px;height:195px;float:left; border:1px solid #e1e1e1;}
.jieshao ul{width:410px;padding-left:20px;float:left; text-align:left;}
.jieshao ul li{ line-height:26px;}
.jieshao ul li.qianzheng { float: left;width: 400px;}
.z24 { color: #FF7A16;font-size: 24px;font-weight: bold;}
.tuan {color: #FF0000;float: right;text-align: right;width: 150px;}
.bgzi { background: none repeat scroll 0 0 #F5F5F5;color: #868686;padding: 2px;}
.yudingk{width:723px;height:102px; border:1px solid #d0d0d0;float:left; margin-top:10px;}
.hong123 {color: #FF2A00;font-weight: bold;}
.yudingktitle{padding:3px 0 0 3px; text-align:left;}
.yudingf{ text-align:left;float:left;padding-left:75px;height:60px;padding-right:10px;}
.yudingf .daying {float: left;width: 90px;}
.yudingf li{ height:30px;width:490px;float:left;}
.yudingkrong{float:left;widht:725px;float:left;}
.xianlutd{width:725px;float:left;padding-top:10px; text-align:left;}
.xianlutdt{width:705px;float:left;height:25px; color:#ff2a00; font-weight:bold; font-size:14px;}
.xianlutdc{width:705px;float:left; background:url(/images/yuding_27.jpg) repeat-y left top; padding:0px 10px; font-size:14px; line-height:25px;}
.xianlutdb{float:left;}
.shuoming{ color:#f00;height:25px;width:725px;padding-top:15px; text-align:left;float:left; font-size:14px;}
.biaoge{width:725px;float:left; line-height:22px;}
.biaoge p{ margin:0;padding:0;}
.neiwentitle,.neiwentitle2{ background:url(/images/yuding_45.jpg) no-repeat left top;width:715px;float:left;height:20px; line-height:20px; color:#FFFFFF; font-weight:bold; font-size:14px; text-align:left;padding-left:10px;}
.neiwentitle2{ background:url(/images/yuding_47.jpg) no-repeat left top;}
.neiwennei{float:left; text-align:left;width:715px;padding:5px; line-height:22px;}
.neiwennei li{ border-bottom:1px dashed #CCCCCC;float:left;padding:10px 0;float:left;}
.neiwennei p{ margin:3px 0;}
.neiwen{padding-top:10px;float:left;width:725px;}
.daty { color: #111111;font-size: 14px; font-weight: bold;width: 700px;}
.zhu {float: left;height: 25px; width: 120px; line-height:25px;}
.can {float: left;height: 25px; line-height:25px;}
.xing {float: left;width: 715px; line-height:22px;}
.neiwen2{color: #111;font-weight: bold;font-size: 14px; text-align:left;padding-top:20px;float:left;}
.neiwen2 a{color: #72a60b;font-weight: bold;font-size: 14px;}
.neiwen2 a:hover{color: #537d00;font-weight: bold;font-size: 14px;}
