<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--底层配置BEGIN-->
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="EyouSoft" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,                  Microsoft.Practices.Unity.Configuration"/>
    <!--底层配置END-->
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <!--SSO底层BEGIN-->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EyouSoft.SSOComponent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <!--SSO底层dEND-->
    <section name="Domain" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="JSManage" type="EyouSoft.Common.ConfigModel.JSManageTagHandler, EyouSoft.PresentationCommon"/>
    <section name="CssManage" type="EyouSoft.Common.ConfigModel.CssManageTagHandler, EyouSoft.PresentationCommon"/>
    <section name="ImageManage" type="EyouSoft.Common.ConfigModel.ImageManageTagHandler, EyouSoft.PresentationCommon"/>
    <section name="MQMessage" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	<!--    URL REWRITE    -->
	<section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter" />
  </configSections>
  <!--异常配置BEGIN-->
  <exceptionHandling>
    <exceptionPolicies>
      <add name="MyPolicy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow" name="Exception">
            <exceptionHandlers>
              <add type="EyouSoft.Exception.Facade.ExceptionHandler, EyouSoft.Exception.Facade" name="Custom Handler"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <!--异常配置END-->
  <!--数据库配置BEGIN-->
  <dataConfiguration>
    <providerMappings>
      <add databaseType="EntLibContrib.Data.MySql.MySqlDatabase, EntLibContrib.Data.MySql"
        name="MySql.Data.MySqlClient" />
    </providerMappings>
  </dataConfiguration>
  <connectionStrings>
    <!--系统数据库-->
    <add name="SystemStore" connectionString="Data Source=192.168.1.254;Initial Catalog=ImportPlatform;Persist Security Info=True;User ID=sa;Password=enow" providerName="System.Data.SqlClient"/>
    <!--团队数据库-->
    <add name="TourStore" connectionString="Data Source=192.168.1.254;Initial Catalog=ImportPlatform;Persist Security Info=True;User ID=sa;Password=enow" providerName="System.Data.SqlClient"/>
    <!--公司数据库-->
    <add name="CompanyStore" connectionString="Data Source=192.168.1.254;Initial Catalog=ImportPlatform;Persist Security Info=True;User ID=sa;Password=enow" providerName="System.Data.SqlClient"/>
    <!--短信数据库-->
    <add name="SMSStore" connectionString="Data Source=192.168.1.254;Initial Catalog=ImportPlatform;Persist Security Info=True;User ID=sa;Password=enow" providerName="System.Data.SqlClient"/>
    <!--MQ数据库-->
    <add name="MQStore" connectionString="Data Source=192.168.1.254;Initial Catalog=ImportPlatform;Persist Security Info=True;User ID=sa;Password=enow" providerName="System.Data.SqlClient"/>
    <!--用户相关数据库-->
    <add name="UserStore" connectionString="Data Source=192.168.1.254;Initial Catalog=ImportPlatform;Persist Security Info=True;User ID=sa;Password=enow" providerName="System.Data.SqlClient"/>
    <!--日志相关数据库-->
    <add name="LogStore" connectionString="Data Source=192.168.1.254;Initial Catalog=ImportPlatform;Persist Security Info=True;User ID=sa;Password=enow" providerName="System.Data.SqlClient"/>
    <!--MQ服务端数据库-->
    <add name="MySQLStore" connectionString="Server=192.168.1.88;port=8806;user id=more;database=more;" providerName="MySql.Data.MySqlClient"/>
    <!--社区数据库-->
    <add name="DiscuzStore" connectionString="Data Source=192.168.1.254;Initial Catalog=DiscuzTest;Persist Security Info=True;User ID=sa;Password=enow"
			providerName="System.Data.SqlClient" />
    <!--机票数据库-->
    <add name="TicketStore" connectionString="Data Source=192.168.1.254;Initial Catalog=FlightTicket;Persist Security Info=True;User ID=sa;Password=enow"
  providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--数据库配置END-->
  <!--缓存配置BEGIN-->
  <cachingConfiguration defaultCacheManager="Cache Manager1">
    <cacheManagers>
      <add type="EyouSoft.Cache.Facade.MemCachedCachingManager, EyouSoft.Cache.Facade, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="Cache Manager1"/>
      <add type="EyouSoft.Cache.Facade.DefaultCachingManager, EyouSoft.Cache.Facade, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="SSOCache"/>
    </cacheManagers>
  </cachingConfiguration>
  <!--缓存配置END-->
  <!--SSO服务地址BEGIN-->
  <applicationSettings>
    <EyouSoft.SSOComponent.Properties.Settings>
      <setting name="EyouSoft_SSOComponent_SSORemote_SSOFlow" serializeAs="String">
        <value>http://localhost:30006/SSOFlow.asmx</value>
      </setting>
    </EyouSoft.SSOComponent.Properties.Settings>
  </applicationSettings>
  <!--SSO服务地址END-->

  <appSettings>
    <!--IM 机票-->
    <add key="TicketInterfaceUrl" value="http://jipiao.tongye114.com/Login/ShareLogin_error.aspx"/>
    <!--IM 机票 分润组接口URL-->
    <add key="TicketGroupInterfaceUrl" value="http://jipiao.tongye114.com/Login/ResponseXML_error.aspx"/>
    <!--IM 机票 修改分润组接口URL-->
    <add key="TicketModifyGroupUrl" value="http://jipiao.tongye114.com/Login/AlterClass_error.aspx"/>
    <!--IM 机票 修改用户密码-->
    <add key="TicketUpdatePwdUrl" value="http://jipiao.tongye114.com/Login/SetPwd_error.aspx"/>
    <!--IM 机票 用户默认分润组GUID-->
    <add key="TicketDefaultGroupGUID" value="a5d132b3-adbb-4546-98f4-fef5e73f4dca"/>

    <!--短信系统 发送短信用户名-->
    <add key="SMS_USERNAME" value="error_yinuo"/>
    <!--短信系统 发送短信密码-->
    <add key="SMS_PASSWORD" value="error_Enowinfo"/>
    <!--短信系统 单条短信费用 double类型 不能<=0-->
    <add key="SMS_COSTOFSINGLE" value="0.1"/>
    <!--短信系统配置 多个通道使用|分割  说明:index通道序号(请勿随意修改)  name通道名称 user用户名 pw密码  price改通道的短信价格(单位:分/条) size短信字数限制,0为常规类型移动/联通70,小灵通45,1为210个字的长短信   -->
    <add key="SMS_SMSChannel" value="index:0,name:通用通道（6分）,user:tongye1,pw:000000,price:8,size:0|index:1,name:广告通道（5分）,user:tongye2,pw:000000,price:10,size:0" />
    <!--短信系统 匹配移动联通手机号码的正则表达式模式-->
    <add key="SMS_Mobile_Regex_Pattern" value="^(13[0-9]|15[0|1|2|3|5|6|7|8|9])\d{8}$" />
    <!--city需要消息提醒的城市id  endtime消息提醒的结束日期-->
    <add key="MsgTipConfig" value="city:362,48,19,292|endtime:2011-1-1" />

    <!-- 链接之间用【,】分隔,当找不到城市信息的时候，不需要跳转到切换城市页面的URL  -->
    <add key="frontpage_nolinktocutcity_url" value="/ToCutCity.aspx,/Register/CompanyUserRegister.aspx,/Register/RegisterSuccess.aspx,/AboutUsManage/Proposal.aspx,/AboutUsManage/AboutUs.aspx,/AboutUsManage/Customer.aspx,/AboutUsManage/Services.aspx,/AboutUsManage/Proxy.aspx,/AboutUsManage/Recruit.aspx,,/HelpCenter/help/Help_Index.aspx"/>

    <!-- 电子邮件配置begin-->
    <add key="IsEnableSSL" value="false" />
    <!-- 电子邮件配置end-->

    <!-- 平台tongye114.com Google Maps API KEY begin-->
    <!-- <add key="GoogleMapsAPIKEY" value="ABQIAAAACz7WwLitu0smrIXczssV4BTHiHzDJz2-gdF4mVTcuAO3S9GO4hStOBIFGYFbuYnY8lFWXws9tRRV0Q" />-->
    <!-- 平台tongye114.com  Google Maps API KEY end-->

    <!-- 平台192.168.1.254 Google Maps API KEY begin-->
    <add key="GoogleMapsAPIKEY" value="ABQIAAAAAddzuGlRP0eRiypr-SyJhRTVlbaUlGBn8yhIAwv4xN3VuLXsGhR2qiBO8xpwQ7V1x1drJIWprBMQUA" />
    <!-- 平台192.168.1.254  Google Maps API KEY end-->

	  <!--客服密码 配置的是MD5加密密码 -->
	  <add key="CustomerServicePwd" value="b1256485ede3f6b00fd5a0aa78a169e3" />
  </appSettings>

  <!-- MQ消息配置begin -->
  <MQMessage>
    <!-- MQ消息中转页面地址（登录页） -->
    <add key="MQMessageTransitUrl" value="http://localhost:30007/Msg.aspx?g="/>
    <!-- 订单专线后台管理页面地址，在过程里面会在末尾加上订单的GUID -->
    <add key="MQBackCenterWholesalersOrderPurposeUrl" value="http://localhost:30003/UserOrder/MQEditOrder.aspx?OrderID="/>
    <!-- 组团专线后台管理页面地址，在过程里面会在末尾加上订单的GUID -->
    <add key="MQBackCenterRetailersOrderPurposeUrl" value="http://localhost:30003/UserOrder/MQEditOrder.aspx?OrderID="/>
    <!-- 供求信息回复查看页，在过程里面会在末尾加上供求的GUID -->
    <add key="MQExchangeComment" value="http://localhost:30004/SupplierInfo/ExchangeInfo.aspx?Id="/>
  </MQMessage>

  <!-- 应用程序域名信息BEGIN -->
  <Domain>
    <add key="SeniorOnlineShop" value="http://localhost:30000"/>
    <add key="SiteOperationsCenter" value="http://localhost:30002"/>
    <add key="UserBackCenter" value="http://localhost:30003"/>
    <add key="UserPublicCenter" value="http://localhost:30004"/>
    <add key="FileSystem" value="http://localhost:30005"/>
    <add key="PassportCenter" value="http://localhost:30006"/>
    <add key="ServerComponents" value="http://localhost:30001"/>
    <add key="IMFrame" value="http://localhost:30007" />
    <add key="UserClub" value="http://localhost:30008" />
  </Domain>
  <!-- 应用程序域名信息END -->
  <!-- JavaScript文件管理BEGIN -->
  <JSManage defaultServerComponents="http://localhost:30001">
    <JSFile name="dcommon" version="1" relativepath="/js/dcommon.js"></JSFile>
    <JSFile name="dhtmlhistory" version="1" relativepath="/js/dhtmlhistory.js"></JSFile>
    <JSFile name="jquery" version="1" relativepath="/js/jquery.js"></JSFile>
    <JSFile name="boxy" version="1" relativepath="/js/jquery.boxy.js"></JSFile>
    <JSFile name="validatorform" version="1" relativepath="/js/validatorform.js"></JSFile>
    <JSFile name="swfupload" version="1" relativepath="/js/swfupload/swfupload.js"></JSFile>
    <JSFile name="common" version="1" relativepath="/js/common.js"></JSFile>
    <JSFile name="MouseFollow" version="1" relativepath="/js/MouseFollow.js"></JSFile>
    <JSFile name="TourCalendar" version="1" relativepath="/js/TourCalendar.js"></JSFile>
    <JSFile name="blogin" version="1" relativepath="/js/blogin.js"></JSFile>
    <JSFile name="groupdate" version="1" relativepath="/js/groupdate.js"></JSFile>
    <JSFile name="TourStateToolTip" version="1" relativepath="/js/TourStateToolTip.js"></JSFile>

    <!--T4 BEGIN-->
    <JSFile name="T4.line.js" version="1" relativepath="/T4/js/line.js"></JSFile>
    <JSFile name="T4.date.js" version="1" relativepath="/T4/js/date.js"></JSFile>
    <!--T4 END-->

    <!-- 景点 T1 BEGIN-->
    <JSFile name="ScenicSpots.T1.defaultslider.js" version="1" relativepath="/scenicspots/t1/scripts/defaultslider.js"></JSFile>
    <!-- 景点 T1 END-->

    <!--客服服务开始-->
    <JSFile name="json2.js" version="1" relativepath="/js/json2.js"></JSFile>
    <JSFile name="dateformat" version="1" relativepath="/js/date.format.js"></JSFile>
    <JSFile name="COlServerCore" version="1" relativepath="/js/COlServerCore.js"></JSFile>
    <JSFile name="SOlServerCore" version="1" relativepath="/js/SOlServerCore.js"></JSFile>
    <JSFile name="jquery.floating.js" version="1" relativepath="/js/jquery.floating.js"></JSFile>
    <!--客服服务结束-->

    <JSFile name="jquery1.4" version="1" relativepath="/js/jquery-1.4.4.js"></JSFile>
    <JSFile name="Switchable" version="1" relativepath="/js/jquery.switchable[all].min.js"></JSFile>
  </JSManage>
  <!-- JavaScript文件管理END -->
  <!-- Css文件管理BEGIN -->
  <CssManage defaultServerComponents="http://localhost:30001">
    <CssFile name="main" version="1" relativepath="/css/userbackcenter/main.css"></CssFile>
    <CssFile name="boxy" version="1" relativepath="/css/boxy.css"></CssFile>
    <CssFile name="swfupload" version="1" relativepath="/css/swfupload/default.css"></CssFile>
    <CssFile name="style_1" version="1" relativepath="/css/style_1.css"></CssFile>
    <CssFile name="style_2" version="1" relativepath="/css/style_2.css"></CssFile>
    <CssFile name="style_3" version="1" relativepath="/css/style_3.css"></CssFile>
    <!-- 高级网店BEGIN-->
    <CssFile name="bluetabs" version="1" relativepath="/css/seniorshop/bluetabs.css"></CssFile>
    <CssFile name="bodyframe" version="1" relativepath="/css/seniorshop/bodyframe.css"></CssFile>
    <CssFile name="ddcolortabs" version="1" relativepath="/css/seniorshop/ddcolortabs.css"></CssFile>
    <CssFile name="style1" version="1" relativepath="/css/seniorshop/style1.css"></CssFile>
    <CssFile name="style2" version="1" relativepath="/css/seniorshop/style2.css"></CssFile>
    <CssFile name="style3" version="1" relativepath="/css/seniorshop/style3.css"></CssFile>
    <CssFile name="gouwu" version="1" relativepath="/css/shop/gouwu.css"></CssFile>
    <CssFile name="body" version="1" relativepath="/css/body.css"></CssFile>
    <CssFile name="boxy2011" version="1" relativepath="/css/boxynew.css"></CssFile>
    <!-- 高级网店END-->

    <!-- T4 BEGIN-->
    <CssFile name="T4.clear.css" version="1" relativepath="/T4/css/clear.css"></CssFile>
    <CssFile name="T4.shop.css" version="1" relativepath="/T4/css/shop.css"></CssFile>
    <CssFile name="T4.shop1.css" version="1" relativepath="/T4/css/shop1.css"></CssFile>
    <CssFile name="T4.shop2.css" version="1" relativepath="/T4/css/shop2.css"></CssFile>
    <CssFile name="T4.shop3.css" version="1" relativepath="/T4/css/shop3.css"></CssFile>
    <!-- T4 END-->
    
    <!-- 景点 T1 BEGIN-->
    <CssFile name="ScenicSpots.T1.style.css" version="1" relativepath="/scenicspots/t1/css/style.css"></CssFile>
    <!-- 景点 T1 END-->

    <CssFile name="head2011" version="1" relativepath="/css/new2011/2011head.css"></CssFile>
      <CssFile name="index2011" version="1" relativepath="/css/new2011/2011indexstyle.css"></CssFile>
    <CssFile name="xinmian" version="1" relativepath="/css/shop/xinmian.css"></CssFile>
    <CssFile name="news2011" version="1" relativepath="/css/new2011/news.css"></CssFile>
  </CssManage>
  <!-- Css文件管理END -->
  <!-- Image文件管理BEGIN -->
  <ImageManage currentUsedIndex="1">
    <ImageServer index="1" url="http://localhost:30001"></ImageServer>
  </ImageManage>
  <!-- Image文件管理END -->

  <!-- 电子邮件发送设置 -->
  <system.net>
    <mailSettings>
      <!-- 当SMTP服务器需要启用SSL的时候，需将AppSettings>IsEnableSSL 设置为TRUE -->
      <smtp deliveryMethod="Network">
        <network host="mail.enowinfo.com" userName="noreply@tongye114.com" password="ty114adv"  />
      </smtp>
    </mailSettings>
  </system.net>
	
	<!--    URL REWRITE 开始    -->
	<RewriterConfig>
		<Rules>
			<!--景区高级网店  /jingqu_2_公司ID-->
			<RewriterRule>
				<LookFor>~/jingqu_2_([A-Za-z0-9-]+)</LookFor>
				<SendTo><![CDATA[~/scenicspots/T1/Default.aspx?cid=$1]]></SendTo>
			</RewriterRule>
      <!--预订高级网店  /TourDetail_tourid_cid-->
      <RewriterRule>
        <LookFor>~/TourDetail_([A-Za-z0-9-]+)_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/seniorshop/TourDetail.aspx?routeId=$1&cid=$2]]></SendTo>
      </RewriterRule>
      <!--预订高级网店  /TourDetail2_tourid_cid-->
      <RewriterRule>
        <LookFor>~/TourDetail2_([A-Za-z0-9-]+)_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/template4/TourDetail.aspx?routeId=$1&cid=$2]]></SendTo>
      </RewriterRule>
      <!--预订高级网店  /TourDetail3_tourid_ReturnUrl_cid-->
      <RewriterRule>
        <LookFor>~/TourDetail3_([A-Za-z0-9-]+)_([A-Za-z0-9-]+)_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/template4/TourDetail.aspx?tourid=$1&ReturnUrl=$2&cid=$3]]></SendTo>
      </RewriterRule>
      <!--高级网店  /seniorshop_cid-->
      <RewriterRule>
        <LookFor>~/seniorshop_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/seniorshop/default.aspx?cid=$1]]></SendTo>
      </RewriterRule>
      <!--散拼计划  /TourList_cid-->
      <RewriterRule>
        <LookFor>~/TourList_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/seniorshop/TourList.aspx?cid=$1]]></SendTo>
      </RewriterRule>
      <!--散拼计划  /TourList2_cid-->
      <RewriterRule>
        <LookFor>~/TourList2_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/template4/TourList.aspx?cid=$1]]></SendTo>
      </RewriterRule>
      <!--高级网店  /default_cid-->
      <RewriterRule>
        <LookFor>~/default_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/template4/default.aspx?cid=$1]]></SendTo>
      </RewriterRule>
      <!--团队定制  /TeamCustomization_cid-->
      <RewriterRule>
        <LookFor>~/TeamCustomization_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/template4/TeamCustomization.aspx?cid=$1]]></SendTo>
      </RewriterRule>
      <!--关于我们  /aboutus2_cid-->
      <RewriterRule>
        <LookFor>~/aboutus2_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/template4/aboutus.aspx?cid=$1]]></SendTo>
      </RewriterRule>
      <!--城市旅游  /TourList_cityid_cid-->
      <RewriterRule>
        <LookFor>~/TourList_([A-Za-z0-9-]+)_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/seniorshop/TourList.aspx?cityid=$1&cid=$2]]></SendTo>
      </RewriterRule>
      <!--城市旅游  /TourList2_cityid_cid-->
      <RewriterRule>
        <LookFor>~/TourList2_([A-Za-z0-9-]+)_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/seniorshop/TourList.aspx?cityid=$2&cid=$1]]></SendTo>
      </RewriterRule>
      <!--促销旅游  /TourList_cityid_cid-->
      <RewriterRule>
        <LookFor>~/TourList3_([A-Za-z0-9-]+)_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/template4/TourList.aspx?State=$2&cid=$1]]></SendTo>
      </RewriterRule>
      <!--最新动态  /newslist_cid-->
      <RewriterRule>
        <LookFor>~/newslist_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/seniorshop/newslist.aspx?cid=$1]]></SendTo>
      </RewriterRule>
      <!--同业公告  /noticelist_cid-->
      <RewriterRule>
        <LookFor>~/noticelist_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/seniorshop/noticelist.aspx?cid=$1]]></SendTo>
      </RewriterRule>
      <!--关于我们  /aboutus_cid-->
      <RewriterRule>
        <LookFor>~/aboutus_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/seniorshop/aboutus.aspx?cid=$1]]></SendTo>
      </RewriterRule>
      <!--最新旅游动态  /NewsList2_cid-->
      <RewriterRule>
        <LookFor>~/NewsList2_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/template4/NewsList.aspx?cid=$1]]></SendTo>
      </RewriterRule>
      <!--目的地指南  /mudidis2_typeid_cid-->
      <RewriterRule>
        <LookFor>~/mudidis2_(\d+)_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/seniorshop/mudidis2.aspx?typeid=$1&cid=$2]]></SendTo>
      </RewriterRule>
      <!--旅游资源推荐  /ziyuan_cid-->
      <RewriterRule>
        <LookFor>~/ziyuan_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/seniorshop/ziyuan.aspx?cid=$1]]></SendTo>
      </RewriterRule>
      <!--目的地  /mudidis_cid-->
      <RewriterRule>
        <LookFor>~/mudidis_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/seniorshop/mudidis.aspx?cid=$1]]></SendTo>
      </RewriterRule>
      <!--最新旅游动态  /new_newid_cid-->
      <RewriterRule>
        <LookFor>~/new_([A-Za-z0-9-]+)_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/seniorshop/new.aspx?newid=$1&cid=$2]]></SendTo>
      </RewriterRule>
      <!--最新旅游动态  /News_newid_cid-->
      <RewriterRule>
        <LookFor>~/News_([A-Za-z0-9-]+)_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/template4/News.aspx?newid=$1&cid=$2]]></SendTo>
      </RewriterRule>
      <!--旅游资源推荐  /ZiYuanShow_ziyuanid_cid-->
      <RewriterRule>
        <LookFor>~/ZiYuanShow_([A-Za-z0-9-]+)_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/seniorshop/ZiYuanShow.aspx?ziyuanid=$1&cid=$2]]></SendTo>
      </RewriterRule>
      <!--目的地指南  /MuDiDi_mudidiid_cid-->
      <RewriterRule>
        <LookFor>~/MuDiDi_([A-Za-z0-9-]+)_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/seniorshop/MuDiDi.aspx?mudidiid=$1&cid=$2]]></SendTo>
      </RewriterRule>
      <!--出游指南更多  /GuideBooks_cid-->
      <RewriterRule>
        <LookFor>~/GuideBooks_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/template4/GuideBooks.aspx?cid=$1]]></SendTo>
      </RewriterRule>
      <!--出游指南返回  /GuideBookList_cid-->
      <RewriterRule>
        <LookFor>~/GuideBookList_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/template4/GuideBookList.aspx?cid=$1]]></SendTo>
      </RewriterRule>
      <!--出游指南更多  /GuideBookList_t_cid-->
      <RewriterRule>
        <LookFor>~/GuideBookList_(\d+)_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/template4/GuideBookList.aspx?t=$1&cid=$2]]></SendTo>
      </RewriterRule>
      <!--出游指南更多  /GuideBookInfo_key_cid-->
      <RewriterRule>
        <LookFor>~/GuideBookInfo_([A-Za-z0-9-]+)_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/template4/GuideBookInfo.aspx?key=$1&cid=$2]]></SendTo>
      </RewriterRule>
      <!--景点高级网店模板1母版页 景区美图详细页  /scenicspots_id_cid-->
      <RewriterRule>
        <LookFor>~/scenicspots_([A-Za-z0-9-]+)_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/scenicspots/t1/scenicbeautiesdetail.aspx?id=$1&cid=$2]]></SendTo>
      </RewriterRule>
      <!--景点高级网店模板1母版页 景区介绍  /ScenicIntro_cid-->
      <RewriterRule>
        <LookFor>~/ScenicIntro_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/scenicspots/t1/ScenicIntro.aspx?cid=$1]]></SendTo>
      </RewriterRule>
      <!--景点高级网店 景区   /ScenicArea_cid-->
      <RewriterRule>
        <LookFor>~/ScenicArea_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/scenicspots/t1/ScenicArea.aspx?cid=$1]]></SendTo>
      </RewriterRule>
      <!--景点高级网店 景区分页   /ScenicArea_cid_Page-->
      <RewriterRule>
        <LookFor>~/ScenicArea_([A-Za-z0-9-]+)_(\d+)</LookFor>
        <SendTo><![CDATA[~/scenicspots/t1/ScenicArea.aspx?cid=$1&Page=$2]]></SendTo>
      </RewriterRule>
      <!--景区高级网店 景区详细页   /ScenicTickets_scenic_cid-->
      <RewriterRule>
        <LookFor>~/ScenicTickets_(\d+)_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/scenicspots/t1/ScenicTickets.aspx?scenic=$1&cid=$2]]></SendTo>
      </RewriterRule>
      <!--景点高级网店模板1母版页 景区美图  /ScenicBeauties_cid-->
      <RewriterRule>
        <LookFor>~/ScenicBeauties_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/scenicspots/t1/ScenicBeauties.aspx?cid=$1]]></SendTo>
      </RewriterRule>
      <!--景点高级网店模板1母版页 景区美图分页  /ScenicBeauties_cid_Page-->
      <RewriterRule>
        <LookFor>~/ScenicBeauties_([A-Za-z0-9-]+)_(\d+)</LookFor>
        <SendTo><![CDATA[~/scenicspots/t1/ScenicBeauties.aspx?cid=$1&Page=$2]]></SendTo>
      </RewriterRule>
      <!--景点高级网店模板1母版页 门票政策  /scenicinfodetail_id_st_cid-->
      <RewriterRule>
        <LookFor>~/scenicinfodetail_([A-Za-z0-9-]+)_(\d+)_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/scenicspots/t1/scenicinfodetail.aspx?id=$1&st=$2&cid=$3]]></SendTo>
      </RewriterRule>
      <!--景点高级网店模板1母版页 门票政策  /scenicinfodetail_st_cid-->
      <RewriterRule>
        <LookFor>~/scenicinfodetail_(\d+)_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/scenicspots/t1/scenicinfodetail.aspx?st=$1&cid=$2]]></SendTo>
      </RewriterRule>
      <!--景点高级网店模板1母版页 景区动态 景区攻略 景区导游 景区线路  /ScenicInfoList_st_cid-->
      <RewriterRule>
        <LookFor>~/ScenicInfoList_(\d+)_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/scenicspots/t1/ScenicInfoList.aspx?st=$1&cid=$2]]></SendTo>
      </RewriterRule>
      <!--景点高级网店模板1母版页 联系我们  /ContactUS_cid-->
      <RewriterRule>
        <LookFor>~/ContactUS_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/scenicspots/t1/ContactUS.aspx?cid=$1]]></SendTo>
      </RewriterRule>
      <!--专线普通网店  /shop_cid-->
      <RewriterRule>
        <LookFor>~/shop_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/shop/ShopDefault.aspx?cid=$1]]></SendTo>
      </RewriterRule>
      <!--专线普通网店  /shop_cid_CityId-->
      <RewriterRule>
        <LookFor>~/shop_([A-Za-z0-9-]+)_(\d+)</LookFor>
        <SendTo><![CDATA[~/shop/ShopDefault.aspx?cid=$1&CityId=$2]]></SendTo>
      </RewriterRule>
      <!--旅游线路翻页  /shop_cid_CityId_Page-->
      <RewriterRule>
        <LookFor>~/shop_([A-Za-z0-9-]+)_(\d+)_(\d+)</LookFor>
        <SendTo><![CDATA[~/shop/ShopDefault.aspx?cid=$1&CityId=$2&Page=$3]]></SendTo>
      </RewriterRule>
      <!--专线普通网店线路列表  /shop_cid_CityId-->
      <RewriterRule>
        <LookFor>~/shop/Default_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/shop/Default.aspx?cid=$1]]></SendTo>
      </RewriterRule>
      <!--专线普通网店线路列表翻页  /shop_cid_CityId-->
      <RewriterRule>
        <LookFor>~/shop/Default_([A-Za-z0-9-]+)_(\d+)</LookFor>
        <SendTo><![CDATA[~/shop/Default.aspx?cid=$1&Page=$2]]></SendTo>
      </RewriterRule>

      <!--专线普通网店酒店列表  /shop_cid_CityId-->
      <RewriterRule>
        <LookFor>~/shop/Hotel_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/shop/Hotel.aspx?cid=$1]]></SendTo>
      </RewriterRule>
      <!--专线普通网店酒店列表翻页  /shop_cid_CityId-->
      <RewriterRule>
        <LookFor>~/shop/Hotel_([A-Za-z0-9-]+)_(\d+)</LookFor>
        <SendTo><![CDATA[~/shop/Hotel.aspx?cid=$1&Page=$2]]></SendTo>
      </RewriterRule>
      <!--专线普通网店景区列表  /shop_cid_CityId-->
      <RewriterRule>
        <LookFor>~/shop/Scenic_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/shop/ScenicList.aspx?cid=$1]]></SendTo>
      </RewriterRule>
      <!--专线普通网店景区列表翻页  /shop_cid_CityId-->
      <RewriterRule>
        <LookFor>~/shop/Scenic_([A-Za-z0-9-]+)_(\d+)</LookFor>
        <SendTo><![CDATA[~/shop/ScenicList.aspx?cid=$1&Page=$2]]></SendTo>
      </RewriterRule>
      <!--专线普通网店同业资讯列表  /shop_cid_CityId-->
      <RewriterRule>
        <LookFor>~/shop/Industry_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/shop/Industry.aspx?cid=$1]]></SendTo>
      </RewriterRule>
      <!--专线普通网店同业资讯列表翻页  /shop_cid_CityId-->
      <RewriterRule>
        <LookFor>~/shop/Industry_([A-Za-z0-9-]+)_(\d+)</LookFor>
        <SendTo><![CDATA[~/shop/Industry.aspx?cid=$1&Page=$2]]></SendTo>
      </RewriterRule>
      
      <!--专线介绍  /LineDescription_cid-->
      <RewriterRule>
        <LookFor>~/LineDescription_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/shop/LineDescription.aspx?cid=$1]]></SendTo>
      </RewriterRule>
      <!--普通景区网店首页  /GeneralShop/SightCompany_cid-->
      <RewriterRule>
        <LookFor>~/GeneralShop/SightCompany_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/shop/ShopDefault.aspx?cid=$1]]></SendTo>
      </RewriterRule>
      <!--普通景区网店景区列表页  /GeneralShop/SightArea_cid-->
      <RewriterRule>
        <LookFor>~/GeneralShop/SightArea_([A-Za-z0-9-]+)</LookFor>
        <SendTo><![CDATA[~/GeneralShop/SightShop/SightArea.aspx?cid=$1]]></SendTo>
      </RewriterRule>
      <!--普通景区网店景区列表页翻页  /GeneralShop/SightArea_cid_Page-->
      <RewriterRule>
        <LookFor>~/GeneralShop/SightArea_([A-Za-z0-9-]+)_(\d+)</LookFor>
        <SendTo><![CDATA[~/GeneralShop/SightShop/SightArea.aspx?cid=$1&Page=$2]]></SendTo>
      </RewriterRule>
      
		</Rules>
	</RewriterConfig>
	<!--    URL REWRITE 结束    -->	
  <system.web>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages enableViewState="false" validateRequest ="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		<add type="URLRewriter.ModuleRewriter, URLRewriter" name="ModuleRewriter" />
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>		
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
