<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EyouSoft.BLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <EyouSoft.BLL.Properties.Settings>
            <setting name="EyouSoft_BLL_SMSStructure_SmsServices_SMSWS" serializeAs="String">
                <value>http://vip.mston.com/smsapi/smsws.asmx</value>
            </setting>
            <setting name="EyouSoft_BLL_SMSStructure_TSmsServices_SMSWS"
                serializeAs="String">
                <value>http://192.168.1.254:30010/SMSWS.asmx</value>
            </setting>
        </EyouSoft.BLL.Properties.Settings>
    </applicationSettings>
</configuration>