<?xml version="1.0"?>
<configuration>
	<configSections>

		<!--底层配置BEGIN-->
		<section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<section name="EyouSoft" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,                  Microsoft.Practices.Unity.Configuration"/>
		<!--底层配置END-->


		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>

		<!--SSO底层BEGIN-->
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="EyouSoft.SSOComponent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<!--SSO底层dEND-->

		<!--新闻来源-->
		<section name="NewsSource" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<!--新闻来源-->

		<section name="Domain" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="JSManage" type="EyouSoft.Common.ConfigModel.JSManageTagHandler, EyouSoft.PresentationCommon"/>
		<section name="CssManage" type="EyouSoft.Common.ConfigModel.CssManageTagHandler, EyouSoft.PresentationCommon"/>
		<section name="ImageManage" type="EyouSoft.Common.ConfigModel.ImageManageTagHandler, EyouSoft.PresentationCommon"/>

		<!--系统整合section-->
		<section name="openRelationAppSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
	</configSections>

	<!--异常配置BEGIN-->
	<exceptionHandling>
		<exceptionPolicies>
			<add name="MyPolicy">
				<exceptionTypes>
					<add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow" name="Exception">
						<exceptionHandlers>
							<add type="EyouSoft.Exception.Facade.ExceptionHandler, EyouSoft.Exception.Facade" name="Custom Handler"/>
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
		</exceptionPolicies>
	</exceptionHandling>
	<!--异常配置END-->

	<!--数据库配置BEGIN-->
	<dataConfiguration>
		<providerMappings>
			<add databaseType="EntLibContrib.Data.MySql.MySqlDatabase, EntLibContrib.Data.MySql" name="MySql.Data.MySqlClient"/>
		</providerMappings>
	</dataConfiguration>
	<connectionStrings>
		<!--机票数据库-->
		<add name="TicketStore" connectionString="Data Source=192.168.1.254;Initial Catalog=FlightTicket;Persist Security Info=True;User ID=sa;Password=enow"
	  providerName="System.Data.SqlClient" />
		<!--系统数据库-->
		<add name="SystemStore" connectionString="Data Source=192.168.1.254;Initial Catalog=ImportPlatform;Persist Security Info=True;User ID=sa;Password=enow" providerName="System.Data.SqlClient"/>
		<!--团队数据库-->
		<add name="TourStore" connectionString="Data Source=192.168.1.254;Initial Catalog=ImportPlatform;Persist Security Info=True;User ID=sa;Password=enow" providerName="System.Data.SqlClient"/>
		<!--公司数据库-->
		<add name="CompanyStore" connectionString="Data Source=192.168.1.254;Initial Catalog=ImportPlatform;Persist Security Info=True;User ID=sa;Password=enow" providerName="System.Data.SqlClient"/>
		<!--短信数据库-->
		<add name="SMSStore" connectionString="Data Source=192.168.1.254;Initial Catalog=ImportPlatform;Persist Security Info=True;User ID=sa;Password=enow" providerName="System.Data.SqlClient"/>
		<!--MQ数据库-->
		<add name="MQStore" connectionString="Data Source=192.168.1.254;Initial Catalog=ImportPlatform;Persist Security Info=True;User ID=sa;Password=enow" providerName="System.Data.SqlClient"/>
		<!--用户相关数据库-->
		<add name="UserStore" connectionString="Data Source=192.168.1.254;Initial Catalog=ImportPlatform;Persist Security Info=True;User ID=sa;Password=enow" providerName="System.Data.SqlClient"/>
		<!--日志相关数据库-->
		<add name="LogStore" connectionString="Data Source=192.168.1.254;Initial Catalog=ImportPlatform;Persist Security Info=True;User ID=sa;Password=enow" providerName="System.Data.SqlClient"/>
		<!--MQ服务端数据库-->
		<add name="MySQLStore" connectionString="Server=192.168.30.5;port=8806;user id=more;database=more;" providerName="MySql.Data.MySqlClient"/>
		<!--社区数据库-->
		<add name="DiscuzStore" connectionString="Data Source=192.168.1.254;Initial Catalog=Discuz;Persist Security Info=True;User ID=sa;Password=enow"
				providerName="System.Data.SqlClient" />
		<!--酒店数据库-->
		<add name="HotelStore" connectionString="Data Source=192.168.1.254;Initial Catalog=ImportPlatform;Persist Security Info=True;User ID=sa;Password=enow" providerName="System.Data.SqlClient" />
		<!--机票数据库-->
		<add name="TicketStore" connectionString="Data Source=192.168.1.254;Initial Catalog=FlightTicket;Persist Security Info=True;User ID=sa;Password=enow" providerName="System.Data.SqlClient" />
		<!-- 易诺用户池数据库 -->
		<add name="PoolStore" connectionString="Data Source=192.168.1.254;Initial Catalog=CustomerPool ;Persist Security Info=True;User ID=sa;Password=enow"
			  providerName="System.Data.SqlClient" />
	</connectionStrings>
	<!--数据库配置END-->

	<!--缓存配置BEGIN-->
	<cachingConfiguration defaultCacheManager="Cache Manager1">
		<cacheManagers>
			<add type="EyouSoft.Cache.Facade.MemCachedCachingManager, EyouSoft.Cache.Facade, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="Cache Manager1"/>
			<add type="EyouSoft.Cache.Facade.DefaultCachingManager, EyouSoft.Cache.Facade, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="SSOCache"/>
		</cacheManagers>
	</cachingConfiguration>
	<!--缓存配置END-->
	<!--SSO服务地址BEGIN-->
	<applicationSettings>
		<EyouSoft.SSOComponent.Properties.Settings>
			<setting name="EyouSoft_SSOComponent_SSORemote_SSOFlow" serializeAs="String">
				<value>http://localhost:30006/SSOFlow.asmx</value>
			</setting>
		</EyouSoft.SSOComponent.Properties.Settings>
	</applicationSettings>
	<!--SSO服务地址END-->

	<appSettings>
		<!--IM 机票-->
		<add key="TicketInterfaceUrl" value="http://jipiao.tongye114.com/Login/ShareLogin_error.aspx"/>
		<!--IM 机票 分润组接口URL-->
		<add key="TicketGroupInterfaceUrl" value="http://jipiao.tongye114.com/Login/ResponseXML_error.aspx"/>
		<!--IM 机票 修改分润组接口URL-->
		<add key="TicketModifyGroupUrl" value="http://jipiao.tongye114.com/Login/AlterClass_error.aspx"/>
		<!--IM 机票 修改用户密码-->
		<add key="TicketUpdatePwdUrl" value="http://jipiao.tongye114.com/Login/SetPwd_error.aspx"/>
		<!--IM 机票 用户默认分润组GUID-->
		<add key="TicketDefaultGroupGUID" value="a5d132b3-adbb-4546-98f4-fef5e73f4dca"/>

		<!--短信系统 发送短信用户名-->
		<add key="SMS_USERNAME" value="error_yinuo"/>
		<!--短信系统 发送短信密码-->
		<add key="SMS_PASSWORD" value="error_Enowinfo"/>
		<!--短信系统 单条短信费用 double类型 不能<=0-->
		<add key="SMS_COSTOFSINGLE" value="0.1"/>
		<!--短信系统配置 多个通道使用|分割  说明:index通道序号(请勿随意修改)  name通道名称 user用户名 pw密码  price改通道的短信价格(单位:分/条) size短信字数限制,0为常规类型移动/联通70,小灵通45,1为210个字的长短信   -->
		<add key="SMS_SMSChannel" value="index:0,name:通用通道（6分）,user:tongye1,pw:000000,price:8,size:0|index:1,name:广告通道（5分）,user:tongye2,pw:000000,price:10,size:0" />
		<!--短信系统 匹配移动联通手机号码的正则表达式模式-->
		<add key="SMS_Mobile_Regex_Pattern" value="^(13[0-9]|15[0|1|2|3|5|6|7|8|9])\d{8}$" />
		<!--city需要消息提醒的城市id  endtime消息提醒的结束日期-->
		<add key="MsgTipConfig" value="city:362,48,19,292|endtime:2011-1-1" />

		<!-- FCKEditor  配置begin -->
		<add key="FCKeditor:UserFilesPath" value="/UploadFile/FCKeditor/"/>
		<!-- FCKEditor  配置end -->

		<!-- 电子邮件配置begin-->
		<add key="IsEnableSSL" value="false" />
		<!-- 电子邮件配置end-->

		<add key="MaxTourDays" value="100"/>

		<!--默认出港返回城市(线路添加/修改)-->
		<add key="DefaultCity" value="19,48,292,295"/>
		<!-- 默认出港返回城市(线路添加/修改)-->
		
    
    <!-- 平台192.168.1.254 Google Maps API KEY begin-->
    <add key="GoogleMapsAPIKEY" value="ABQIAAAAAddzuGlRP0eRiypr-SyJhRTVlbaUlGBn8yhIAwv4xN3VuLXsGhR2qiBO8xpwQ7V1x1drJIWprBMQUA" />
    <!-- 平台192.168.1.254  Google Maps API KEY end-->
  
	</appSettings>

	<!-- 新闻来源 -->
	<NewsSource>
		<!-- 格式:Key=用户ID Value＝来源,作者(以英文逗号隔开) -->
		<add key="1" value="来源,作者"/>
		<add key="2" value="来源1,作者1"/>
	</NewsSource>
	<!-- 应用程序域名信息BEGIN -->

	<Domain>
		<add key="SeniorOnlineShop" value="http://localhost:30000"/>
		<add key="SiteOperationsCenter" value="http://localhost:30002"/>
		<add key="UserBackCenter" value="http://localhost:30003"/>
		<add key="UserPublicCenter" value="http://localhost:30004"/>
		<add key="FileSystem" value="http://localhost:30005"/>
		<add key="PassportCenter" value="http://localhost:30006"/>
		<add key="ServerComponents" value="http://localhost:30001"/>
		<add key="IMFrame" value="http://localhost:30007"/>
	</Domain>
	
	<!-- 应用程序域名信息END -->
	<!-- JavaScript文件管理BEGIN -->
	<JSManage defaultServerComponents="http://localhost:30001">
		<JSFile name="dcommon" version="1" relativepath="/js/dcommon.js"></JSFile>
		<JSFile name="dhtmlhistory" version="1" relativepath="/js/dhtmlhistory.js"></JSFile>
		<JSFile name="jquery" version="1" relativepath="/js/jquery.js"></JSFile>
		<JSFile name="boxy" version="1" relativepath="/js/jquery.boxy.js"></JSFile>
		<JSFile name="validatorform" version="1" relativepath="/js/validatorform.js"></JSFile>
		<JSFile name="swfupload" version="1" relativepath="/js/swfupload/swfupload.js"></JSFile>

		<JSFile name="Load" version="1" relativepath="/js/Loading.js"></JSFile>
		<JSFile name="MouseFollow" version="1" relativepath="/js/MouseFollow.js"></JSFile>

		<JSFile name="swfobject" version="1" relativepath="/js/swfobject.js"></JSFile>
		<JSFile name="ylogin" version="1" relativepath="/js/ylogin.js"></JSFile>
		<JSFile name="GetCityList" version="1" relativepath="/js/GetCityList.js"></JSFile>
		<JSFile name="ajaxpagecontrols" version="1" relativepath="/js/ajaxpagecontrols.js"></JSFile>
		<JSFile name="dateformat" version="1" relativepath="/js/date.format.js"></JSFile>
		<JSFile name="json2.js" version="1" relativepath="/js/json2.js"></JSFile>
		<JSFile name="GetHotelCity" version="1" relativepath="/js/Hotel/HotelJSData.js"></JSFile>
		<JSFile name="googleMap_UC" version="1" relativepath="/js/googleMap_UC.js"></JSFile>
		<JSFile name="ContentWindow" version="1" relativepath="/js/ContentWindow.js"></JSFile>
		<JSFile name="CommonTour" version="1" relativepath="/js/CommonTourModule.js"></JSFile>
		<JSFile name="groupdate" version="1" relativepath="/js/quick.groupdate.js"></JSFile>
		<JSFile name="CommonTourModule" version="1" relativepath="/js/CommonTourModule.js"></JSFile>
		<JSFile name="Print" version="1" relativepath="/js/print.js"></JSFile>
	</JSManage>
	<!-- JavaScript文件管理END -->
	<!-- Css文件管理BEGIN -->
	<CssManage defaultServerComponents="http://localhost:30001">
		<CssFile name="acss" version="1" relativepath="/css/YunYing/css.css"></CssFile>
		<CssFile name="main" version="1" relativepath="/css/main.css"></CssFile>
		<CssFile name="boxy" version="1" relativepath="/css/boxy.css"></CssFile>
		<CssFile name="swfupload" version="1" relativepath="/css/swfupload/default.css"></CssFile>
		<CssFile name="manager" version="1" relativepath="/css/YunYing/manager.css"></CssFile>
		<CssFile name="gongqiu" version="1" relativepath="/css/gongqiu.css"></CssFile>
		<CssFile name="rightnew" version="1" relativepath="/css/userbackcenter/rightnew.css"></CssFile>
		<CssFile name="right" version="1" relativepath="/css/userbackcenter/right.css"></CssFile>
		<CssFile name="css" version="1" relativepath="/Css/css.css"></CssFile>
	</CssManage>
	<!-- Css文件管理END -->
	<!-- Image文件管理BEGIN -->
	<ImageManage currentUsedIndex="1">
		<ImageServer index="1" url="http://localhost:30001"></ImageServer>
	
	</ImageManage>
	<!-- Image文件管理END -->

	<!-- 电子邮件发送设置 -->
	<system.net>
		<mailSettings>
			<!-- 当SMTP服务器需要启用SSL的时候，需将AppSettings>IsEnableSSL 设置为TRUE -->
			<smtp deliveryMethod="Network">
				<network host="mail.enowinfo.com" userName="noreply@tongye114.com" password="ty114adv"  />
			</smtp>
		</mailSettings>
	</system.net>

	<system.web>
		<!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>

				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
		<authentication mode="Windows"/>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages validateRequest="false">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</controls>
		</pages>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>

			<add verb="*" path="ofc_handler.aspx" type="OpenFlashChart.WebHandler.ofcHandler, OpenFlashChart"/>

			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpModules>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<openRelationAppSettings>
		<!--是否启用数据同步操作 1：启用 0：禁用-->
		<add key="IsEnable" value="0" />
		<!--AppKey-->
		<add key="AppKey" value="{6AB908F8-E84E-4a82-95DA-9BCA7882A773}" />
		<!--中间处理程序资源URI-->
		<add key="MiddlewareURI" value="http://localhost:30009/middleware.ashx"/>
		<!--当前系统处理程序路径-->
		<add key="LocalSyncFilePath" value="/sync/synchandling.ashx"/>
	</openRelationAppSettings>
</configuration>