/* CSS Document code by 11447@sohu.com*/
@charset "gb2312";
BODY {color:#333; background:#fff; margin:0px;}input,textarea,select {COLOR: #333;}
div,img { behavior:url(../js/1215757920_1288632e.htc)}img {border: thin none;}TD {COLOR: #333; }sup { color:#5B8E12;}
a {COLOR:#0048A3;}
a:hover {COLOR:#f00;}
a:active {color:#f00;}
.IE6png{behavior: url("iepngfix.htc");}

/*SKINMAIN*/
.nav,.nav ul li,.nav ul li a:hover,.nav a.nav-on,.loginbar,.login .login-right input,.leftlinetitle,.newsleftbar,.bar-line,.mudidi,.muhang,.neilefth,.neiringht,.neiringhtn{ background: url(/images/seniorshop/skinmain2.gif) no-repeat;}
.lvsezi{ color:#CC3300}.lvsezi14{ color:#FF6600; font-size:14px;}.hui{ color:#999}
.lianxi{background:#F5FFE1; color:#FF6000; text-align:right; border-bottom:1px solid #F2D582; }
.lianxix{border-bottom:1px solid #F2D582;color:#FF6000;}
.lianxis{border-bottom:1px solid #F2D582;color:#666;}
.lianxiz{line-height:26px; border-bottom:1px dashed #F2D582; color:#666;}
.white{ color:#CC3300;}a.white:hover{ color:#CC3300;}
.FF6600{ color:#FF6600}
.hese{ color:#9C2800}
.px14{ font-size:14px;}
.shenglan{ color:#CC3300; font-size:14px;}
.huise{ color:#666;}
/*topbanner*/
/*.topbanner { width:960px; height:121px; margin:0 auto; background: url(/images/seniorshop/topbanner2.jpg) no-repeat; padding-left:0px; padding-top:26px;}
.name { color:#9E0000; filter:glow(color=#ffffff,strength=3);}*/

/*高级网店宣传图片样式*/
.topbanner { width:960px; height:147px; margin:0 auto; padding-top:0px; position:relative;}
.pname
{
font-size:40px;
position:absolute;
top:40px;
left:10px;
background:#ccc Transparent;
color:#B80034; filter:glow(color=#ffffff,strength=2);
}

/*nav*/
.nav { width:960px; height:33px; margin:0 auto; clear:both; float:bottom;}
.nav ul { display:block; width:780px; margin:0 auto; padding:0;}
.nav ul li { background-position:-121px -47px; width:110px; float:left; margin-left:0px;}
.nav ul li a,.nav ul li a:visited { display:block;color:#fff; text-align:center; font-size:14px;  height:25px; padding-top:8px;background-position:-121px -47px; font-weight:bold;}
.nav ul li a:hover { color:#fff; font-size:14px; font-weight:bold;background-position:-121px -47px;}
.nav ul li a.nav-on,.nav ul li a.nav-on:visited{ display:block; text-align:center; background-position:0 -47px; color:#000;text-decoration:none; font-weight:bold;}

.loginbar { color:#CC3300; background-position:-0px -99px; padding:7px 0 0 35px; height:22px;}
.login { border:1px solid #F2D582; background:#fff;}
.login input { height:18px; border:1px solid #F2D582;}
.login .login-right input { background-position: -250px -45px; font-size:0px; color:#fff; cursor:pointer }
.leftlinetitle { background-position:-0px -137px;}
.leftline { height:375px; padding:5px; border:1px solid #D7ECB6; border-top:0px;}
.boxline { border-bottom:1px dashed #ccc; margin-bottom:8px;}
.boxline a { color:#FF8400}
.firendbar { background:#E9E9E9;}


.newsleftbar { background-position:-339px -47px; font-size:14px; font-weight:bold; color:#CC3300; height:22px; padding:8px 0 0 40px;}

.newsleftbar span { display:block; width:180px; float:left;}
.newsleftbar a { font-size:12px; font-weight:normal; color:#333;}
.newsleft ul{border:1px solid #F2D582; background:#FBFEF3}
.bar-line { background-position:-0px -182px; height:32px; width:680px; clear:both; margin-top:10px;}
.bar-line-title { color:#CC3300; font-size:14px; font-weight:bold; text-align:left; margin-right:0px; margin-left:30px; width:105px; padding-top:8px; float:left;}
.bar-line-title1 { width:115px; text-align:center; padding-top:2px; float:left; color:#E15F00; font-size:14px; font-weight:bold; padding-left:10px;}
.bar-line-more a { color:#333;}
/*mayadd*/
.goumai0,a.goumai0:hover{ background:url(/images/seniorshop/goumai1.gif)  repeat scroll 0 0 transparent;}

.goumai0{ background-position:0px 0px; height:18px; width:65px; color:#984000; font-weight:bold; float:left; padding-top:0px;}
a.goumai0:hover{ background-position:0px -19px; color:#FF0000; text-decoration:none;}
.linetd{}
.linetd a{ color:#FF8400; float:right;}.linetd span{ float:left;}
.dian{float:left; margin:0; padding:0;}
.state1{ border:1px solid #FF0000; background:#FFFFFF url(/images/seniorshop/state1.gif) no-repeat left;
 padding:1px 1px 1px 7px; font-size:12px;}
 .riqi{ width:92px; height:10px; text-align:left;padding:0px 0 20px 5px; color:#666;}

.mudidikuang{ width:676px; border:1px solid #F2D582; padding:1px; margin-top:10px;  }
.mudidi{ background-position:0px -229px; height:23px; padding:5px 0 0 30px;} 
.mudizi{ float:left; font-size:14px; color:#CC3300; font-weight:bold;}.mudizi a{ color:#CC3300;}

.muhang{ background-position:0px -272px; height:23px; padding-left:5px;color:#333;}.muhang a{ color:#333; }
.muhang span{ margin-left:100px;}
.huizi{ color:#333; line-height:20px;}.huizi a{ color:#333}
.bottom1{ background:url(/images/seniorshop/bot.gif) repeat-x; }

/*end*/
/*fudongxiaoguo*/
.liststyle th{ background:url(/images/seniorshop/listheadth.gif) repeat-x; height:25px; font-weight:normal;}

.liststyle td {border-bottom:1px dashed #ccc; padding-bottom:5px; padding-top:3px;}
tr.highlight { background: url(/images/seniorshop/listtrbj.gif) repeat-x bottom; padding-bottom:5px;}
tr.highlight .listtitle a { color:#f00;font-weight:bold; height:35px; text-decoration:underline; font-size:14px;}
.liststyle .highlight td {border-bottom:1px solid #E35B00; padding-bottom:5px; padding-top:3px;}
.liststyle th{ background:url(/images/seniorshop/listheadth.gif) repeat-x; height:25px; font-weight:normal;}
.liststyle td {border-bottom:1px dashed #ccc; padding-bottom:5px; padding-top:3px;}
.liststyle div { text-align:left;}
.liststyle .listtitle { padding-bottom:3px; padding-top:15px;}

.liststyle .listtitle a { color:#333; font-weight:bold; height:35px; font-size:14px;}
.liststyle .listtitle a:hover {color:#f00; font-weight:bold;height:35px; }

.liststyle .listdata {color:#A13B08;}
.liststyle .listcompany { padding-left:12px;color:#aaa;}
.liststyle .price1 { color:#333333; font-weight:bold; /*text-decoration: line-through;*/}
.liststyle .price2 { color:#D15400; font-weight:bold;}
.liststyle .price3 { color:#8B7B72; font-weight:bold; font-size:11px;}
tr.selected {background:#FFFBDF; padding-bottom:5px;}

/*end*/


/*neiye*/
.neileftk{ border:1px solid #FFC54B;width:263px;}
.neilefth{ background-position:0px -315px;height:20px; border-bottom:1px solid #FFC54B; color:#CC3300; padding:7px 0 0 30px; font-weight:bold; font-size:14px;}
.lefthangx{ background:url(/images/seniorshop/lefthang.gif) right;}
.neiringht{ background-position:0px -367px; height:25px; color:#CC3300; font-size:14px; padding:3px 0 0 35px; font-weight:bold; border:1px solid #F2D582;}
.neiringhtn{ background-position:0px -367px; height:26px; padding:3px 0 0 7px; border:1px solid #F2D582;}
.neiringhtk{ border-left:1px solid #F2D582; border-right:1px solid #F2D582; border-bottom:1px solid #F2D582; padding:5px;}
.linenew{ background:url(/images/seniorshop/line.gif) bottom repeat-x; line-height:30px;}.linenew a{ color:#333}
.hangbg{ height:40px; border-bottom:2px solid #FFC54B; text-align:center;}
/*end*/
/*FENYE*/
DIV.digg {	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; margin-top:10px; PADDING-TOP: 3px; TEXT-ALIGN: center
}
DIV.digg A {	BORDER: #E15F00 1px solid; PADDING-RIGHT: 5px;PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px;  COLOR: #E15F00; PADDING-TOP: 2px;TEXT-DECORATION: none
}
DIV.digg A:hover {	BORDER: #E15F00 1px solid; background:#54A11C; COLOR: #fff;}
DIV.digg A:active {	BORDER: #E15F00 1px solid;  COLOR: #000; }
DIV.digg SPAN.current {	BORDER: #E15F00 1px solid; PADDING-RIGHT: 5px;PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 2px; COLOR: #fff; PADDING-TOP: 2px; BACKGROUND-COLOR: #E15F00}
DIV.digg SPAN.disabled {	BORDER: #eee 1px solid; PADDING-RIGHT: 5px;  PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px;  COLOR: #ddd; PADDING-TOP: 2px;}/*end*/
/*xinyong*/
.xins{ background:url(/images/seniorshop/huiyuan1.gif) top no-repeat; width:232px; color:#D55A0F; padding-left:18px;}
.xinz{ width:250px; background:#FFF6D2; border-left:1px solid #FFCC43; border-right:1px solid #FFCC43;}
.xinx{ background:url(/images/seniorshop/huiyuan2.gif) top no-repeat; width:252px; height:3px; }
/*end*/
/* xianluxx*/

.xianluhangcloer{ background:#FEEAAD; padding-bottom:5px; clear:both}
#pngtu{ font-weight:bold; padding:0px 0 0 10px;  background:transparent url(/images/seniorshop/bar1.png) no-repeat; font-size:14px; text-align:center;min-height:30px;_height:30px;}

.xlkuang{border:1px solid #FEEAAD; border-bottom:0px; height:169px;}

.xianluhangleft{ width:550px; float:left; text-align:center; font-size:14px;}
.xianluhangright{ width:170px; float:right; margin:0px; padding-right:3px;}
.trl_d_h {height:21px; padding:5px; font-weight:bold; background:#FEEAAD;  border-bottom:1px solid #FFC267; border-top:1px solid #ffffff; border-left:1px solid #FFC267; text-align:right;}
.trl_d_m {height:21px; padding:5px; border-bottom:1px solid #FEEAAD; border-top:1px solid #fff; }

.trl_d_anpai { background:#DDF3BD url(/images/UserPublicCenter/line3.gif) repeat-x bottom; height:17px; padding:5px; color:#FEEAAD; clear:both }


.trl_d_m h1 { font-size:14px; color:#c00;}
/**/
.trl_d_anpai { background:#FEEAAD url(/images/seniorshop/line3.gif) repeat-x bottom; height:17px; margin-top:10px; padding-top:8px; padding-left:5px; color:#CC3300; clear:both}
.trl_d_anpaiday { margin-left:20px; width:100px; height:20px; float:left; padding-top:10px; font-weight:bold;}
.xing , .zhu , .can { width:100px; float:left; height:20px; overflow:hidden; padding-top:10px;}
.xing span { color:#E011A3;}
.zhu span { color:#f00;}
.can span { color:#0B8E08;}
.trl_d_detail { clear:both; padding-left:0px; padding-bottom:5px; line-height:18px;}
.trl_d_detail1{ clear:both;}
.trl_xcleft{ width:670px; line-height:18px; float:left; border-bottom:1px dashed #ccc;}
.trl_xcright{ width:160px; float:right;}
/* xianluxx*/