/* CSS Document code by 11447@sohu.com */
@charset "gb2312";
BODY {color:#333;	font-size:12px;	font-family:"ו",Arial, Helvetica, sans-serif;margin:0px;}
td {font-size: 12px;	line-height: 20px;}
img { border:0px;}
sup{vertical-align:super; color:red; font-size:10px; font-family:Arial, Helvetica, sans-serif;}
#Layer1 {position:relative;	width:1px;	height:1px;	z-index:3;	float:left;	left: 150px;	top: 0px;}
a:link {color: #090085; font-size:12px;	text-decoration: none;}
a:visited {color: #090085;  font-size:12px;	text-decoration: none;}
a:hover {color: #ff0000;  font-size:12px;	text-decoration: underline;}
a:active {font-size:12px;	color: #ff0000;}
a.button {background: transparent url(../images/a.gif) no-repeat scroll right top;color: #333333;display: block;float: left;      height: 24px;padding-right: 7px;font: normal 12px sans-serif#000000;margin-right: 7px;text-decoration: none;    }
    a.button span {
      background: transparent url(../images/span.gif) no-repeat;
      display: block;
      padding: 5px 1px 5px 11px;
      line-height: 14px;
    }
    a.button:hover {
      background-position: right -24px;
    }
    a.button:hover span {
      background-position: left -24px;
    }
    a.button:active {
      background-position: right -48px;
      outline: none;
    }
    a.button:active span {
      background-position: left -48px;
      padding: 6px 0 4px 12px;
    }
.white {
	font-size: 12px;
	line-height: normal;
	font-weight: normal;
	color: #FFFFFF;
}
.font12_yellow {	color: #FFFCBF;	font-size: 12px;	line-height: 16px;}
.shenglan { 
	border-bottom:1px solid #93B5D7; 
	border-top:1px solid #EAF5FF; 
	background:#C7E0F9; 
	height:20px;
	color: #000000;
}
.zhonglan { 
	border-bottom:1px solid #93B5D7;
	background:#F4F9FF;
	height:20px;
	color: #000000;
 }
.lankuang {
	font-size: 12px;
	border: 1px solid #93B5D7;
}
.unnamed1 {
	color: #FF0000;
}
.xiayiye{ background:url(../images/xiayiye.gif) no-repeat; background-position:0px 0px; height:26px; width:90px; padding-top:5px; float:left; font-size:14px; color:#000000; font-weight:bold;  margin-top:5px; margin-left:5px; text-align:center;}
a.xiayiye:hover{background:url(../images/xiayiye.gif) no-repeat; background-position:0px -31px; height:26px; width:90px; padding-top:5px; float:left; font-size:14px; color:#000000; font-weight:bold; text-decoration:none; text-align:center;}
a.xiayiye:visited{ font-size:14px; color:#000000;}

.lanbg{ background-color:#93B5D7;}
.shenglanqb { 
	border-top:1px solid #EAF5FF; 
	background:#C7E0F9; 
	height:20px;
	color: #000000;
}
.baidi {
	background-color: #FFFFFF;
	font-size: 12px;
	color: #000000;
}
.lanj{ background-color:#F3F7FF;}
/*danchukuang*/
.kuang {font-size: 12px;border: 1px solid #CCCCCC;}
.zhonghui {background-color: #EBF4FD;font-size: 12px;color: #000000;}
.shenghui {	background-color: #A0CBF5;	font-size: 12px;color: #000000;}
.zhonghui_l {	background:#F4F9FF;	height:20px;	color: #000000;	border-bottom-width: 1px;	border-left-width: 1px;	border-bottom-style: solid;	border-left-style: solid;	border-bottom-color: #93B5D7;	border-left-color: #93B5D7; }
/*fenye*/
DIV.yahoo2 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 0.85em; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px; FONT-FAMILY: Tahoma,Helvetica,sans-serif; TEXT-ALIGN:right
}
DIV.yahoo2 A {
	BORDER-RIGHT: #ccdbe4 1px solid; PADDING-RIGHT: 8px; BACKGROUND-POSITION: 50% bottom; BORDER-TOP: #ccdbe4 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ccdbe4 1px solid; COLOR: #0061de; MARGIN-RIGHT: 3px; PADDING-TOP: 2px; BORDER-BOTTOM: #ccdbe4 1px solid; TEXT-DECORATION: none
}
DIV.yahoo2 A:hover {
	BORDER-RIGHT: #2b55af 1px solid; BORDER-TOP: #2b55af 1px solid; BACKGROUND-IMAGE: none; BORDER-LEFT: #2b55af 1px solid; COLOR: #fff; BORDER-BOTTOM: #2b55af 1px solid; BACKGROUND-COLOR: #4690B9
}
DIV.yahoo2 A:active {
	BORDER-RIGHT: #2b55af 1px solid; BORDER-TOP: #2b55af 1px solid; BACKGROUND-IMAGE: none; BORDER-LEFT: #2b55af 1px solid; COLOR: #fff; BORDER-BOTTOM: #2b55af 1px solid; BACKGROUND-COLOR: #4690B9
}
DIV.yahoo2 SPAN.current {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; COLOR: #000; MARGIN-RIGHT: 3px; PADDING-TOP: 2px
}
DIV.yahoo2 SPAN.disabled {
	DISPLAY: none
}
DIV.yahoo2 A.next {
	BORDER-RIGHT: #ccdbe4 2px solid; BORDER-TOP: #ccdbe4 2px solid; MARGIN: 0px 0px 0px 10px; BORDER-LEFT: #ccdbe4 2px solid; BORDER-BOTTOM: #ccdbe4 2px solid
}
DIV.yahoo2 A.next:hover {
	BORDER-RIGHT: #2b55af 2px solid; BORDER-TOP: #2b55af 2px solid; BORDER-LEFT: #2b55af 2px solid; BORDER-BOTTOM: #2b55af 2px solid
}
DIV.yahoo2 A.prev {
	BORDER-RIGHT: #ccdbe4 2px solid; BORDER-TOP: #ccdbe4 2px solid; MARGIN: 0px 10px 0px 0px; BORDER-LEFT: #ccdbe4 2px solid; BORDER-BOTTOM: #ccdbe4 2px solid
}
DIV.yahoo2 A.prev:hover {
	BORDER-RIGHT: #2b55af 2px solid; BORDER-TOP: #2b55af 2px solid; BORDER-LEFT: #2b55af 2px solid; BORDER-BOTTOM: #2b55af 2px solid
}

/*****yf-0919****/
.inputborder_bot{ border-bottom:#000 solid 1px; border-top: none 0px; border-left: none 0px; border-right: none 0px;}
.padd5 td{ padding-left:5px; line-height:22px;}
